// Most replicated

$Color_Blue_1: #CCD9E9;	
$Color_Blue_3: #b6cade; 
$Color_blue_5: #839bb3;
$Color_blue_8: #788db4;
$Color_blue_10: #399AF2;
$Color_blue_12: #399af2d9;	
$Color_blue_13: #268bd2;		
$Color_blue_14: #151726;
$Color_blue_15: #15182B;		
$Color_blue_16: #889bbd;
$Color_blue_29: #7598c1;
$Color_blue_39: #161931;

$WhiteColor: #fff;
$Color_white_2: #E7F1FD;				
$Color_white_6: #f0f6ff;					
$Color_white_8 : #eeeeee;
$Color_white_12: #eaf3fd;
$Color_white_13: #d8e3ef;
$Color_white_17: #c7d9ee;
$Color_white_23: #dee2e6;
$Color_white_24: #dfe7f3;

$Color_green_1: #2fbfa0;
$Color_green_2: #2fbfa0d9;		
$Color_green_3: #2aa198;			

$Color_red_1: #ff5c75;
$Color_red_2: #ff5c75d9;
$Color_red_14: #f64a91;
$Color_red_15: #f53282;
$Color_red_16: #f762a0;
$Color_red_17: #f64a91d9;
$Color_red_19: #f53b88;
$Color_red_20: #f64a9166;
$Color_red_21: #f64f94;

$Color_yellow_3: #FFCE67;
$Color_yellow_4: #ffce67d9;	

$Color_violet_1: #8da6c3cc;	
$Color_violet_4: #716aca;			
$Color_violet_5: #7468bd;					
$Color_violet_8: #6987ab;
$Color_violet_10: #736cc7;
$Color_violet_13: #857ece;
$Color_violet_14: #615ac0;
$Color_violet_16: #a8a3dc;
$Color_violet_17: #6861c3;
$Color_violet_18: #736cc766;
$Color_violet_19: #7770c8;
$Color_violet_21: #736cc7d9;

$Color_black_6: #0000001a;

$Color_gray_1: #ffffffd9;
$Color_gray_3: #ccc;				
$Color_gray_5: #ffffff80;	
$Color_gray_11: #7d93b7;
$Color_gray_14: #4d5a68;
$Color_gray_23: #323a48;					
$Color_gray_42: #126ad312;
$Color_gray_46: #e7f1fd33;
$color_gray_49: #617182;
$Color_gray_51: #ffffff1a;

// Most replicated fonts

$font_family_1: iranyekan,sans-serif;

//_theme.scss

//fonts
$font_0: Material-Design-Iconic-Font;

//urls
$url_0: url(#logo_background_color);
$url_1: url(#logo_background_mobile_color);

$Color_white_6: #f0f6ff;
$Color_white_13: #d8e3ef;
$Color_white_19: #ffffffe6;
$color_white_20: #eeedf8;
$Color_white_21: #fef4f8;
$Color_white_22: #e8eff9;

$Color_yellow_15: #f7f7f7;

$Color_red_18: #f64a9120;
$Color_red_22: #ff294a;

$Color_violet_3: #788db4b3;
$Color_violet_10: #736cc7;
$Color_violet_12: #d7e7ff;
$Color_violet_15: #5047b9;
$Color_violet_20: #8c86d1;
$Color_violet_22: #736cc720;

$Color_blue_28: #839ebe;
$Color_blue_30: #94aac5;
$Color_blue_31: #91a6c3;
$Color_blue_8: #788db4;
$Color_blue_32: #d8e3efb3;
$Color_blue_5: #839bb3;
$Color_blue_33: #8da6cb;
$Color_blue_34: #7390b3;
$Color_Blue_4: #96a9c6;
$Color_blue_35: #3190f0;
$Color_blue_36: #007bff40;
$Color_blue_37: #0062cc;
$Color_blue_38: #1b1e3c;
$Color_blue_40: #0a0c19;

$Color_gray_44: #eaf3fdb3;
$Color_gray_45: #ffffff99;
$Color_gray_47: #6c9ec317;
$Color_gray_48: #212529;
$Color_gray_50: #788db44d;
$Color_gray_52: #7598c199;
$Color_gray_53: #8da6c366;
$Color_gray_13: #8da6c399;

//_main.scss
//colors
$Color_Blue_2: #b1c6e0;			
$Color_Blue_4: #96a9c6;						
$Color_blue_6: #7c99ba;						
$Color_blue_7: #718599;        				
$Color_blue_9: #718eb1;
$Color_blue_11: #51a6f4;					
$Color_blue_17: #218ef0;
$Color_blue_18: #117a8b;
$Color_blue_19: #99cbf8;
$Color_blue_20: #7b90b6;
$Color_blue_21: #3e9cf2;
$Color_blue_22: #2b93f1;
$Color_blue_23: #3085d6;
$Color_blue_24: #399af266;
$Color_blue_25: #399af220;
$Color_blue_26: #345DBB;
$Color_white_3: #ebeef4;						
$Color_white_4: #e1effd;						
$Color_white_5: #b4ede0;					
$Color_white_7: #d0e0f2;						
$Color_white_9: #cbdaea;
$Color_white_10: #eff5fd;
$Color_white_11: #e0ecff;
$Color_white_14: #e5ebf8;
$Color_white_15: #f0f6ffd9;
$Color_white_16: #e3ebf4;
$Color_white_18: #f7faff;

$Color_green_4: #39ceae;
$Color_green_5: #2aab8f;
$Color_green_6: #1e7e34;
$Color_green_7: #42AF46;
$Color_green_8: #2cb396;
$Color_green_9: #30c3a3;
$Color_green_10: #2fbfa020;
$Color_green_11: #2fbfa066;
$Color_green_12: #2fbfa0cc;
$Color_green_13: #71dd8a;
$Color_green_14: #34ce57;

$Color_red_3: #f44336;				
$Color_red_4: #ff768b;
$Color_red_5: #ff435f;
$Color_red_6: #bd2130;
$Color_red_7: #ff4d68;
$Color_red_8: #ff6179;
$Color_red_9: #ff5c7520;
$Color_red_10: #ff5c75cc;
$Color_red_11: #efa2a9;
$Color_red_12: #e4606d;
$Color_red_13: #ED5159;

$Color_yellow_1: #ffe3af;						
$Color_yellow_2: #fff1a8;	
$Color_yellow_5: #b58900;
$Color_yellow_6: #ffd681;
$Color_yellow_7: #ffc64e;
$Color_yellow_8: #d39e00;
$Color_yellow_9: #fdf6e3;
$Color_yellow_10: #ffda8b;
$Color_yellow_11: #ffc958;
$Color_yellow_12: #ffd06c;
$Color_yellow_13: #ffce6720;
$Color_yellow_14: #FFBF37;

$YellowgreenColor: #859900;	

$DarkorangeColor: #cb4b16;		

$Color_violet_2: #788db4d9;	
$Color_violet_6: #687fab;
$Color_violet_7: #6e85af;
$Color_violet_9: #7069ca;

$Color_black_1: #000000e6;		
$Color_black_2: #00000066;		
$Color_black_3: #000;			
$Color_black_4: #00000080;
$Color_black_5: #0000004d;
$Color_black_7: #00000099;

$Color_gray_2: #ffffffbf;	
$Color_gray_4: #ffffffb3;
$color_gray_6: #adb7be;			
$Color_gray_7: #93a1a1;				
$Color_gray_8: #6c757d;				
$Color_gray_9: #657b83;				
$DesaturatedcyanColor: #617182;
$Color_gray_12: #556579;       
$Color_gray_13: #8da6c399;	
$Color_gray_15: #586e75;
$Color_gray_16: #595959;				
$Color_gray_17: #666;		
$color_53: transparent;					
$Color_gray_18: #545454;					
$Color_gray_19: #5f5f5f;						
$Color_gray_20: #353a40;       				
$Color_gray_21: #333;						
$Color_gray_22: #43464c;					
$Color_gray_24: #292b2c;						
$Color_gray_25: #bac4d8;
$Color_gray_26: #c7d9ee66;
$Color_gray_27: #ffffffcc;
$Color_gray_28: #ffffff66;
$Color_gray_29: #aaa;
$Color_gray_30: #f0f6ff99;
$Color_gray_31: #d2ddea80;
$Color_gray_32: #8da6c333;
$Color_gray_33: #788db466;
$Color_gray_34: #ffffff20;
$Color_gray_35: #788db420;
$Color_gray_36: #eaf3fda6;
$Color_gray_37: #8da6c34d;

//fonts

$font_family_2: LineAwesome;
$font_family_3: Material-Design-Iconic-Font;
$font_family_4: sans-serif;
$font_family_5: inherit;
$font_family_6: serif;
$font_family_7: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;

//_core.scss
//fonts
$font_0: iranyekan;
$font_1: sans-serif;

//colors
$Color_blue_27 : #126ad314;
$Color_violet_11:#6760d5;
$Color_gray_38: #f0f6ffb3;
$Color_gray_39:#94aac533;
$Color_gray_40:#45414e33;
$Color_gray_41: #126ad31a;
$Color_gray_43: #126ad30f;

//_menu-type.scss
//fonts

$font_2: dripicons-v2!important;




//-------------------- Fonts --------------------//

$body-font: 'Poppins', sans-serif;
$title-font: 'Poppins', sans-serif;


//-------------------- Base Colors --------------------//

$primary-color: 			#0071cc;
$primary-color-hover: 		#0e7fd9;
$secondary-color: 			#0c2f55;

$text-color:				#535b61;
$body-bg:					#e7e9ed;
$wrapper-bg:				#f6f7f8;
$title-color:     			#0c2f54;


//-------------------- Social Icons Colors --------------------//

$facebook:                 #3B5998;
$twitter:                  #00ACEE;
$google:                   #DD4B39;
$linkedin:                 #0E76A8;
$youtube:                  #C4302B;
$instagram:                #3F729B;
$reddit:                   #C6C6C6;
$pinterest: 			   #cc2127;
$vk:                       #2B587A;
$rss:                      #EE802F;
$skype:                    #00AFF0;
$xing:                     #126567;
$tumblr:                   #34526F;
$email:                    #6567A5;
$delicious:                #205CC0;
$stumbleupon:              #F74425;
$digg:                     #191919;
$blogger:                  #FC4F08;
$flickr:                   #FF0084;
$vimeo:                    #86C9EF;
$yahoo:                    #720E9E;
$gplus:                    #DD4B39;
$appstore:                 #000;


