*,
body {
    direction: rtl !important;
    list-style: none !important;
    text-decoration: none !important;
    font-family: 'Vazir';
}

.img-slider {
    width: 100% !important;
    height: 450px !important;
}

.carousel-control-prev-icon {
    background-image: none !important;
}

.carousel-control-next-icon {
    background-image: none !important;
}

.carousel-control-next-icon::after {
    right: 3.563rem;
}

.carousel-control-prev-icon::after {
    right: 3.563rem;
}

.search {
    position: relative;
    border: 1px solid #d4d4d4;
}

.search-wrapper {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, .5);
}

.total-body {
    position: relative;
}

.form-control:focus {
    font-size: 16px !important;
}

.form-control {
    font-size: 16px !important;
}

#content {
    position: relative;
    top: 0px;
    height: 550px !important;
}

.hero-content {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
}

.header {
    position: fixed;
    top: 25px;
    z-index: 100009;
}

.carousel-control-prev-icon::after {
    content: none !important;
}

.carousel-control-next-icon::after {
    content: none !important;
}

.searchButton {
    background-color: #ec0c6d;
    width: 100px;
    height: 38px !important;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    color: #ffffff;
}

.search-submit {
    padding-left: 30px !important;
}

.input-search {
    height: 38px !important;
}

#header {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

#header .header-row {
    position: relative;
    display: -ms-flexbox;
    max-height: 100%;
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
    align-items: center;
    align-self: stretch;
}

#header .header-column {
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-grow: 1;
    height: 70px !important;
}

.primary-menu.navbar {
    position: inherit;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}

.primary-menu ul.navbar-nav>li {
    display: flex;
    height: 100%;
}

.login {
    border: 1px solid #7a7575;
    border-radius: 25px;
    cursor: pointer;
}

.text-login {
    color: #4d4b4b;
    font-size: 12px;
}

.searchBtn {
    height: 38px !important;
    border-radius: 4px !important;
    background-color: #3e64ff;
    color: #ffffff;
}

.input-search::placeholder {
    font-size: 12px;
    font-weight: 400;
}

.main {
    position: relative;
}

.main-menu {
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 1px 1px 6px #d2cdcd;
}

.box-salon {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-salon {
    position: relative;
    border: 1px solid #d4d4d4;
}

.img-box {
    position: absolute;
    width: 160px;
    height: 75px;
    border-radius: 10px !important;
    top: 24%;
    right: 25%;
}

.img-tag {
    width: 120px;
    height: 74px;
    border-radius: 5px;
}

.box-item {
    border-bottom: 1px solid #e4dfdf;
}

.top-box {
    height: 180px;
    background-color: #7a7575;
}

.list-service {
    height: 350px;
    border: 1px solid #e0dbdb;
    box-shadow: 0px 0px 1px 0.2px #bdb4b4;
}

@media(min-width: 338) {
    .img-box {
        height: 50px;
    }
}

.box-img::after {
    position: absolute;
    width: 160px;
    height: 75px;
    border-radius: 10px !important;
    top: 24%;
    right: 25%;
    background-color: #ec0c6d;
}

.shop-basket {
    border: 1px solid #e0d4d4;
    background-color: #f1eded;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-top: 2px solid #3e64ff;
    color: #3e64ff !important;
}

.form-ctrl {
    border-radius: unset !important;
    border: none !important;
    border-bottom: 1px solid #ccd4da !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-ctrl:focus {
    border-radius: unset !important;
}

.btn:hover {
    color: #ffffff;
    text-decoration: none;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ced4da !important;
    outline: 0;
    box-shadow: unset !important;
    width: 100%;
    border-bottom: 2px solid #5edfff !important;
    transition: border-bottom .5s ease-in;
}

.arrow {
    background-image: url("../img/arrow1.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 12px;
}

.rotate {
    transform: rotate(180deg) !important;
    transition: all .3s;
}

.non-rotate {
    transform: rotate(0deg);
    transition: all .3s;
}

.hide {
    display: none !important;
}

.inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098A9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all .2s ease;
}

.border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #0077FF;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .15s ease;
}

.filter {
    border: 1px solid #d4d4d4;
}

.non-basket {
    background-image: url("../img/empty-basket.png");
    background-repeat: no-repeat;
    background-position: center;
}

.text-basket {
    color: #7a7575;
    font-size: 15px;
}

.price {
    height: 10%;
}


.input-num {
    width: 0%;
    height: 2px;
    transition: width 1s ease;
}

.border-input {
    width: 100%;
    transition: width 1s ease;
}

.salon-name {
    width: 100%;
    height: 20%;
}

.salon-rate {
    width: 100%;
    height: 20%;
}

.salon-address {
    width: 100%;
    height: 60%;
}

.img-service {
    height: 40%;
}

.box-service {
    height: 36%;
}

.btn-service {
    height: 14%;
    border-top: 1px solid #d4cece;
}

.btn-search {
    color: #fff;
    background-color: #3e64ff;
    border-color: #3e64ff;
}

.btn-outline-search {
    color: #3e64ff;
    border-color: #3e64ff;
}

.btn-outline-search:hover {
    background-color: #3e64ff;
    color: #fff;
}

.resend {
    cursor: pointer;
    font-size: 12px;
}

.resend:hover {
    color: #5edfff;
}

.tab-content {
    width: 100% !important;
}

.pass-recovery {
    cursor: pointer;
    font-size: 14px;
}

.pass-recovery:hover {
    cursor: pointer;
    color: #7a7575;
}

.send-code {
    font-size: 12px;
}

.swal2-container {
    z-index: 20000 !important;
}

.card {
    border: 1px solid #d6d4d4 !important;
}

.card-body {
    position: relative;
    height: 120px !important;
}

.mouse-In {
    font-size: 11px;
    position: absolute;
    top: 22px;
    transition: top 1s;
    right: 2px;
    background-color: #fff;
    z-index: 100;
}

.mouse-Out {
    position: absolute;
    top: 45px;
    font-size: 11px;
    /* transition: bottom 2s; */
}

.basket-cart {
    border-bottom: 1px solid #e0d4d4;
}

.remove-product {
    cursor: pointer;
}

.details-basket {
    background-color: #f1eded;
    border: 1px solid #e0d4d4 !important;
}

.non-border-button {
    border-bottom: none;
}

.tether-element {
    top: 160px !important;
    left: 10px !important;
}

.discount {
    letter-spacing: 0px;
    -webkit-box-align: center;
    line-height: 1.375;
    min-width: 43px;
    height: 23px;
    border-radius: 20px;
    padding: 0px 2px 1px;
    color: #fff;
    font-weight: 500;
    background-color: rgb(251, 52, 73);
}

.side-bar-wrapper {
    z-index: 1000;
}

.side-bar {
    border: 1px solid #e0dbdb;
    border-radius: 10px;
    color: #000000;
    transition: all 600ms;
}

.side-bar .header {
    height: 5rem;
    background-color: #1e1e1e;
}

.small {
    font-size: 80%;
    font-weight: 400;
}

.side-bar ul.nav {
    padding-right: 0;
}

.side-bar ul.nav .nav-link.active::after {
    display: inline-block;
    border-right: 2px solid #dee2e6;
    border-top: 2px solid #dee2e6;
    width: 16px;
    height: 16px;
    background-color: #f8f9fa;
    color: transparent;
    position: absolute;
    margin: auto;
    left: 1px;
    transform: rotate(45deg);
    margin-left: -9px;
    content: "o";
    margin-top: 4px;

}

.nav-item .nav-link {
    color: #343a40;
    text-align: right !important;
}

.cursor {
    cursor: pointer;
}

.top-24 {
    top: -24px;
}

.details-salon {
    top: -12px;
    right: 5px;
    z-index: 1000;
}

.detail-salon {
    border: 1px solid #d4d2d2;
    border-radius: 2px;
}

.position-date {
    top: 5px;
    right: 5px;
    pointer-events: none;
}

.text-gray {
    color: #7a7575;
    font-size: 14px;
}

.act {
    background-color: #92a5ce;
}

.position {
    top: 10px;
    right: 28px;
}

.leaflet-container {
    width: 100%;
    height: 400px;
    margin: auto;
}

@media (min-width: 576px) {
    .modal-width {
        max-width: 750px !important;
    }
}

.h-210 {
    height: 225px !important;
}

.datepicker-input {
    text-align: right !important;
}

.editDate-modal {
    max-width: 300px !important;
}

.position-input {
    position: absolute;
    right: 70px;
    opacity: 0;
    z-index: 0;
}

.dir-ltr {
    direction: ltr !important;
}

.tether-element {
    top: 368px !important;
    left: 10px !important;
}

.search-wrap {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    border-radius: 4px;
}

.font_vazir {
    font-family: 'Vazir' !important;
}

.border-box {
    border: 1px solid #dfe1e6 !important;
}

.font-size-13 {
    font-size: 13px !important;
}

.font-size-14 {
    font-size: 14px !important;
}

.input-form:focus {
    font-size: 13px !important;
}

.title-box {
    height: 140px;
    border: 1px solid #dfe1e6;
    transform: rotate(44deg);
    bottom: 26px;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(78, 77, 77, .2);
}

.title-box-pass {
    height: 140px;
    border: 1px solid #dfe1e6;
    transform: rotate(44deg);
    top: -71px;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(78, 77, 77, .2);
}

.title-pass {
    color: #4c4747;
    font-size: 15px;
    font-weight: 400;
}

.icon-pass {
    transform: rotate(138deg);
    margin-top: 35px;
}

.icon-favorites {
    transform: rotate(315deg);
    margin-top: 35px;
}

.img-fav {
    box-shadow: 0 13px 20px -7px rgba(0, 0, 0, .3);
}

.fav-icon {
    top: 5px;
    right: 21px;
    padding-right: 15px;
}

.custom-credit::after {
    left: 79px !important;
}

.custom-credit::before {
    left: 79px !important;
}

.text-White {
    color: #fff !important;
}

.img-inupt {
    height: 166px;
    opacity: 0;
    z-index: 1;
}

.position-icon {
    top: 60px;
    z-index: 1;
}

@media(max-width: 418px) {
    .title-box {
        height: 130px;
        transform: rotate(226deg);
        bottom: 30px;
    }

    .icon-pass {
        transform: rotate(134deg);
        margin-top: 38px;
    }

    .title-box-pass {
        height: 140px;
        border: 1px solid #dfe1e6;
        transform: rotate(47deg);
        top: -71px;
        z-index: 1000;
        background-color: #fff;
        box-shadow: 0 0 6px rgba(78, 77, 77, .2);
    }

    icon-favorites {
        transform: rotate(135deg);
        margin-top: 35px;
    }
}

.breadcrumb {
    background-color: unset !important;
}

.breadcrumb>li>a {
    color: #716b6b !important;
}

.breadcrumb li.active a {
    color: #3e64ff !important;
}

.favorites {
    right: 5px;
    top: 5px;
}

.box-rate {
    width: 30px;
    border-radius: 20px;
    height: 28px;
    background-color: rgb(28, 17, 90);
}

/* .total-bar {
    width: 250px;
    height: 5px;
    background-color: #eae5e5;
    border-radius: 3px;
} */

.border-top-eae6e6 {
    border-top: #eae6e6 !important;
}

/* .happy-bar {

} */

.nav-link {
    color: rgb(46, 45, 45);
}

.text-13 {
    font-size: 13px !important;
}

.custom-label-filter {
    margin-right: 25px !important;
}

.custom-label-filter::after {
    right: -25px !important;
    left: 0;
}

.custom-label-filter::before {
    right: -25px !important;
    left: 0;
}

.jodit-ui-group {
    justify-content: flex-end;
}

.sun-editor .se-wrapper .se-wrapper-wysiwyg p {
    text-align: right !important;
}

.sun-editor .se-wrapper .se-placeholder {
    text-align: right !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.show-login {
    color: #686869;
}

.show-login:hover {
    color: #3535c5;
}

.MuiInputBase-input {
    font-size: 14px;
    font-weight: 600;
}

.bordered-bottom {
    border-bottom: 1px solid #dfe1e6 !important;
}

.bordered-none {
    border-bottom: none !important;
}

.panel-hover:hover {
    color: #1212d8;
    cursor: pointer;
}

.box-notif {
    width: 280px;
    height: auto;
    position: fixed;
    background-color: #eee;
    box-shadow: 1px 1px 6px #d2cdcd;
    border: 1px solid #fff;
    z-index: 1000;
    border-radius: 5px;
}

.box-notif::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -17px;
    left: 20px;
    z-index: 10000;
}

.text-aqua {
    color: #0bdede;
}

.text-coal {
    color: #b3b1b1;
}

.border-right-aqua {
    border-right: 2px solid #0bdede;
}

.border-bottom-coal {
    border-bottom: 1px solid #e2e2e2;
}

.border-right-width-0 {
    border-right-width: 0px
}

.icon-circle {
    content: "";
    width: 17px;
    height: 17px;
    padding-top: 2px;
    padding-right: 2px;
    background-color: #0bdede;
    border-radius: 50px;
    display: inline-block;
}

.card-message {
    display: flex;
    justify-content: space-between;
    padding: 3%;
    margin:1% 6%;
    border-radius: 1x;
    background-color: #fff;
    text-align: right;
}
.message-read{
    background-color: #e8e8e8;
}
.background-gray {
    background-color: #f6f5f5;
}
.img-h {
    height: 180px;
}

.footer {
    border-top: 2px solid #e8e8e8;
    background: #252525;
}

.border-light {
    border-top: 2px solid #f8f8f8;
}
.social-box {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid #fff;
    cursor: pointer;
}

.border-bottom-light {
    border-bottom: 1px solid #fff !important;
}

.border-top-light {
    border-top: 1px solid #fff !important;
}

.total-box-beauty {
    height: 170px;
}


#section-counter {
    background-image: url("../img/9.jpg");
    width: 100%;
    height: 350px;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 70px 0px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: .4;
}


/* tab style */

.tab-list {  border-bottom: 1px solid #ccc;
    padding-left: 0;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
  }
  
  .tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
  }

  .slider-list .slick-slider .slick-list {
    direction: ltr !important;
  }

  .slider-list .slick-slider.slick-initialized {
    width: 1299px;
  }
  .blog-entry img {
    width: 100%;
  }
  .ftco-section {
    padding: 7em 0;
    position: relative;
  }
   .blog-entry {
    background: #fff;
    overflow: hidden;
  }
  @media (min-width: 768px) {
      .blog-entry {
          margin-bottom: 30px;
      }
  }
  .block-20 {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: block;
    width: 100%;
    height: 270px;
  }
  .blog-entry .meta > div {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
    font-size: 14px;
  }
  .blog-entry .text .heading {
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 400;
  }
  .blog-entry .text .heading a {
    color: black;
  }
  .blog-entry .meta > div a {
      color: gray;
  }


