@font-face {
    font-family:Vazir;
    src: url('../fonts/vazir/Vazir.eot');
    src: url('../fonts/vazir/Vazir.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Vazir.woff2') format('woff2'),
         url('../fonts/vazir/Vazir.woff') format('woff'),
         url('../fonts/vazir/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Bold.eot');
    src: url('../fonts/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Vazir-Bold.woff2') format('woff2'),
         url('../fonts/vazir/Vazir-Bold.woff') format('woff'),
         url('../fonts/vazir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Black.eot');
    src: url('../fonts/vazir/Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Vazir-Black.woff2') format('woff2'),
         url('../fonts/vazir/Vazir-Black.woff') format('woff'),
         url('../fonts/vazir/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family:Vazir;
    src: url('../fonts/vazir/Vazir-Medium.eot');
    src: url('../fonts/vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Vazir-Medium.woff2') format('woff2'),
         url('../fonts/vazir/Vazir-Medium.woff') format('woff'),
         url('../fonts/vazir/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Light.eot');
    src: url('../fonts/vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Vazir-Light.woff2') format('woff2'),
         url('../fonts/vazir/Vazir-Light.woff') format('woff'),
         url('../fonts/vazir/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Vazir-Thin.eot');
    src: url('../fonts/vazir/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Vazir-Thin.woff2') format('woff2'),
         url('../fonts/vazir/Vazir-Thin.woff') format('woff'),
         url('../fonts/vazir/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* number Fa */


@font-face {
    font-family:Vazir;
    src: url('../fonts//vazir/Farsi-Digits/Vazir-FD.eot');
    src: url('../fonts/vazir/Farsi-Digits/Vazir-FD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits/Vazir-FD.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits/Vazir-FD.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits/Vazir-FD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Bold-FD.eot');
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Bold-FD.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Bold-FD.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Bold-FD.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Black-FD.eot');
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Black-FD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Black-FD.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Black-FD.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Black-FD.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family:Vazir;
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.eot');
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Medium-FD.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Light-FD.eot');
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Light-FD.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Light-FD.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Light-FD.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Thin-FD.eot');
    src: url('../fonts/vazir/Farsi-Digits/Vazir-Thin-FD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Thin-FD.woff2') format('woff2'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Thin-FD.woff') format('woff'),
         url('../fonts/vazir/Farsi-Digits/Vazir-Thin-FD.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
