.icon {
    display: inline-block;
    vertical-align: middle;
  }
  
  .icon-animate {
    transition: all 200ms linear;
  }
  
  .icon-10 {
    width: 10px;
    height: 10px;
  }
  
  .icon-12 {
    width: 12px;
    height: 12px;
  }
  
  .icon-14 {
    width: 14px;
    height: 14px;
  }
  
  .icon-16 {
    width: 16px;
    height: 16px;
  }

  .icon-18 {
    width: 18px;
    height: 18px;
  }
  
  .icon-20 {
    width: 20px;
    height: 20px;
  }

  .icon-22 {
    width: 22px;
    height: 22px;
  }
  
  .icon-24 {
    width: 24px;
    height: 24px !important;
  }

  .icon-28 {
    width: 28px;
    height: 28px !important;
  }
  
  .icon-32 {
    width: 32px;
    height: 32px;
  }
  
  .icon-48 {
    width: 48px;
    height: 48px;
  }
  
  .icon-64 {
    width: 64px;
    height: 64px;
  }
  
  .icon-128 {
    width: 128px;
    height: 128px;
  }
  
  .icon-256 {
    width: 256px;
    height: 256px;
  }
  
  .icon-space:lang(fa) {
    margin-left: 5px;
  }
  
.icon-expand_more{
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23617182"  d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path fill="none" d="M0 0h24v24H0z"/></svg>') no-repeat;
    background-size: cover;
  }

.icon-hotel{
    background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="510px" height="510px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve"><g><g id="hotel"><path fill="%23617182" d="M382.5,51V0h-255v51H51v459h153v-51h102v51h153V51H382.5z M229.5,382.5h-51v-51h51V382.5z M229.5,280.5h-51v-51h51V280.5z M229.5,178.5h-51v-51h51V178.5z M331.5,382.5h-51v-51h51V382.5z M331.5,280.5h-51v-51h51V280.5z M331.5,178.5h-51v-51h51V178.5z"/></g></g></svg>') no-repeat;
    background-size: cover;
  }

.icon-airport{
    background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="371.656px" height="371.656px" viewBox="0 0 371.656 371.656" style="enable-background:new 0 0 371.656 371.656;" xml:space="preserve"><g><g><g><path fill="%23617182" d="M37.833,212.348c-0.01,0.006-0.021,0.01-0.032,0.017c-4.027,2.093-5.776,6.929-4.015,11.114c1.766,4.199,6.465,6.33,10.787,4.892l121.85-40.541l-22.784,37.207c-1.655,2.703-1.305,6.178,0.856,8.497c2.161,2.318,5.603,2.912,8.417,1.449l23.894-12.416c0.686-0.356,1.309-0.823,1.844-1.383l70.785-73.941l87.358-45.582c33.085-17.835,29.252-31.545,27.29-35.321c-1.521-2.928-4.922-6.854-12.479-8.93c-7.665-2.106-18.021-1.938-31.653,0.514c-4.551,0.818-7.063,0.749-9.723,0.676c-9.351-0.256-15.694,0.371-47.188,16.736L90.788,164.851l-66.8-34.668c-2.519-1.307-5.516-1.306-8.035,0.004l-11.256,5.85c-2.317,1.204-3.972,3.383-4.51,5.938c-0.538,2.556,0.098,5.218,1.732,7.253l46.364,57.749L37.833,212.348z"/><path fill="%23617182" d="M355.052,282.501H28.948c-9.17,0-16.604,7.436-16.604,16.604s7.434,16.604,16.604,16.604h326.104c9.17,0,16.604-7.434,16.604-16.604C371.655,289.934,364.222,282.501,355.052,282.501z"/></g></g></g></svg>') no-repeat;
    background-size: cover;
  }
.icon-train{
    background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="582.675px" height="582.675px" viewBox="0 0 582.675 582.675" style="enable-background:new 0 0 582.675 582.675;" xml:space="preserve"><g><g id="Layer_1_21_"><path fill="%23617182" d="M518.288,545.7l-85.425-155.55c24.225-3.825,42.074-25.5,42.074-49.726v-229.5C474.937,49.725,425.212,0,364.012,0h-145.35c-61.2,0-112.2,49.725-112.2,112.2v228.225c0,25.5,17.85,45.9,42.075,49.726L64.387,545.7c-6.375,12.75-2.55,28.05,10.2,34.425c3.825,2.55,7.65,2.55,11.475,2.55c8.925,0,17.85-5.1,21.675-12.75l7.65-12.75h351.9l7.649,12.75c5.101,8.925,12.75,12.75,21.676,12.75c3.824,0,7.649-1.274,11.475-2.55C520.837,573.75,524.663,558.45,518.288,545.7z M398.437,430.95h-214.2l21.675-39.525h170.85L398.437,430.95z M394.613,345.525c-20.4,0-36.976-16.575-36.976-36.976c0-20.4,16.575-36.975,36.976-36.975c20.399,0,36.975,16.575,36.975,36.975C431.587,327.675,415.012,345.525,394.613,345.525z M151.087,126.225c0-39.525,31.875-71.4,70.125-71.4h138.975c38.25,0,71.4,31.875,71.4,71.4v61.2c0,14.025-11.475,24.225-25.5,24.225h-229.5c-14.025,0-24.225-11.475-24.225-24.225L151.087,126.225L151.087,126.225z M188.062,270.3c20.4,0,36.975,16.575,36.975,36.976c0,20.399-16.575,36.975-36.975,36.975s-36.975-16.575-36.975-36.975C151.087,286.875,167.663,270.3,188.062,270.3z M135.788,518.925l28.05-49.725h255l28.05,49.725H135.788z"/></g></g></svg>') no-repeat;
    background-size: cover;
  }
  
.icon-home{
    background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="460.298px" height="460.297px" viewBox="0 0 460.298 460.297" style="enable-background:new 0 0 460.298 460.297;" xml:space="preserve"><g><g><path fill="%23617182" d="M230.149,120.939L65.986,256.274c0,0.191-0.048,0.472-0.144,0.855c-0.094,0.38-0.144,0.656-0.144,0.852v137.041c0,4.948,1.809,9.236,5.426,12.847c3.616,3.613,7.898,5.431,12.847,5.431h109.63V303.664h73.097v109.64h109.629c4.948,0,9.236-1.814,12.847-5.435c3.617-3.607,5.432-7.898,5.432-12.847V257.981c0-0.76-0.104-1.334-0.288-1.707L230.149,120.939z"/><path fill="%23617182" d="M457.122,225.438L394.6,173.476V56.989c0-2.663-0.856-4.853-2.574-6.567c-1.704-1.712-3.894-2.568-6.563-2.568h-54.816c-2.666,0-4.855,0.856-6.57,2.568c-1.711,1.714-2.566,3.905-2.566,6.567v55.673l-69.662-58.245c-6.084-4.949-13.318-7.423-21.694-7.423c-8.375,0-15.608,2.474-21.698,7.423L3.172,225.438c-1.903,1.52-2.946,3.566-3.14,6.136c-0.193,2.568,0.472,4.811,1.997,6.713l17.701,21.128c1.525,1.712,3.521,2.759,5.996,3.142c2.285,0.192,4.57-0.476,6.855-1.998L230.149,95.817l197.57,164.741c1.526,1.328,3.521,1.991,5.996,1.991h0.858c2.471-0.376,4.463-1.43,5.996-3.138l17.703-21.125c1.522-1.906,2.189-4.145,1.991-6.716C460.068,229.007,459.021,226.961,457.122,225.438z"/></g></g></svg>') no-repeat;
    background-size: cover;
}

.icon-message-box{
    background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 437.212 437.212" style="enable-background:new 0 0 437.212 437.212;" xml:space="preserve"><g><g><g><path fill="%23617182" d="M404.812,41.206h-300c-18,0-32.4,14.8-32.4,32.4v186.4c0,18,14.8,32.4,32.4,32.4h206.8l46.8,47.2c2,2,4.4,3.2,7.2,3.2c5.6,0,10.4-4.4,10.4-10.4v-40h28.8c18,0,32.4-14.8,32.4-32.4v-186.4C437.212,55.606,422.412,41.206,404.812,41.206z M150.812,201.606c-16.4,0-30-13.6-30-30c0-16.4,13.6-30,30-30c16.4,0,30,13.6,30,30C180.812,188.006,167.612,201.606,150.812,201.606z M256.012,201.606c-16.4,0-30-13.6-30-30c0-16.4,13.6-30,30-30c16.4,0,30,13.6,30,30C286.012,188.006,272.412,201.606,256.012,201.606z M360.812,201.606c-16.4,0-30-13.6-30-30c0-16.4,13.6-30,30-30c16.4,0,30,13.6,30,30C390.812,188.006,377.212,201.606,360.812,201.606z"/><path fill="%23617182" d="M54.012,260.806v-63.6h-32.8c-11.6,0-21.2,9.6-21.2,21.2v122.4c-0.4,12.4,9.2,22,21.2,22h18.8v26.4c0,3.6,3.2,6.8,6.8,6.8c2,0,3.6-0.8,4.8-2l30.8-30.8h136c11.6,0,21.2-9.6,21.2-21.2v-30.4h-134.8C76.812,311.606,54.012,288.806,54.012,260.806z"/></g></g></g></svg>') no-repeat;
    background-size: cover;
}

.icon-bus{
    background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 45.437 45.437" style="enable-background:new 0 0 45.437 45.437;" xml:space="preserve"><g><path fill="%23617182" d="M41.403,11.11c-0.371-3.627-0.962-6.451-1.897-7.561c-3.855-4.564-30.859-4.898-33.925,0c-0.75,1.2-1.276,4.014-1.629,7.567c-1.139,0.134-2.026,1.093-2.026,2.267v4.443c0,0.988,0.626,1.821,1.5,2.146c-0.207,6.998-0.039,14.299,0.271,17.93c0,2.803,1.883,2.338,1.883,2.338h1.765v3.026c0,1.2,1.237,2.171,2.761,2.171c1.526,0,2.763-0.971,2.763-2.171V40.24h20.534v3.026c0,1.2,1.236,2.171,2.762,2.171c1.524,0,2.761-0.971,2.761-2.171V40.24h0.58c0,0,2.216,0.304,2.358-1.016c0-3.621,0.228-11.646,0.04-19.221c0.929-0.291,1.607-1.147,1.607-2.177v-4.443C43.512,12.181,42.582,11.206,41.403,11.11z M12.176,4.2h20.735v3.137H12.176V4.2z M12.472,36.667c-1.628,0-2.947-1.32-2.947-2.948c0-1.627,1.319-2.946,2.947-2.946s2.948,1.319,2.948,2.946C15.42,35.347,14.101,36.667,12.472,36.667z M32.8,36.667c-1.627,0-2.949-1.32-2.949-2.948c0-1.627,1.321-2.946,2.949-2.946s2.947,1.319,2.947,2.946C35.748,35.347,34.428,36.667,32.8,36.667z M36.547,23.767H8.54V9.077h28.007V23.767z"/></g></svg>') no-repeat;
    background-size: cover;
}

.icon-travel{
    background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 457.784 457.784" style="enable-background:new 0 0 457.784 457.784;" xml:space="preserve"><g id="XMLID_236_"><circle id="XMLID_518_" cx="369.003" cy="39.833" r="39.831"/><path fill="%23617182" id="XMLID_1413_" d="M445.372,215.901l-57.013-25.418l0,0l-11.418-67.677l24.415,54.333l4.532-52.717c1.273-14.806-9.698-27.84-24.503-29.113l-47.807-4.11c-14.717-1.265-27.678,9.568-29.083,24.239l-43.634,37.607c-1.417,1.221-2.636,2.656-3.611,4.252l-41.518,67.939c-5.188,8.489-2.511,19.577,5.978,24.765c0.975,0.596,1.987,1.079,3.017,1.47l-23.305,23.305l-20.986-20.987c-6.704-6.704-17.574-6.704-24.278,0l-8.009,8.009c-6.704,6.704-6.704,17.574,0,24.278l20.986,20.987l-10.558,10.558l-39.745-39.745c-6.704-6.704-17.574-6.704-24.278,0L6.737,365.693c-6.704,6.704-6.704,17.574,0,24.278l26.392,26.393c-1.396,3.473-2.172,7.259-2.172,11.225c0,16.65,13.546,30.195,30.195,30.195c16.649,0,30.195-13.546,30.195-30.195c0-3.895-0.749-7.616-2.098-11.037l152.073-152.557c4.015-4.015,4.019-10.522,0.014-14.543c2.014-1.389,3.781-3.205,5.139-5.427l40.045-65.531l13.551-11.679c0,0-6.178,87.389-6.11,87.82l12.929,82.348l-34.51,91.5c-4.22,11.19,1.429,23.683,12.62,27.904c11.195,4.221,23.685-1.434,27.904-12.62l36.529-96.851c1.323-3.507,1.713-7.298,1.131-11.001l-12.364-78.75l11.284,0.97l34.76,76.917l24.071,105.876c2.651,11.66,14.253,18.967,25.918,16.315c11.662-2.652,18.966-14.255,16.315-25.917l-24.555-108.004c-0.322-1.415-0.785-2.794-1.383-4.117l-29.797-65.936l0.118-1.37L357.77,235.33c-15.24-6.795-21.209-22.127-20.681-30.402l4.681-73.634l12.608,74.733v0c1.006,5.96,4.927,11.019,10.447,13.48l65.851,29.358c9.261,4.13,19.856-0.217,23.83-9.134C458.565,230.626,454.474,219.959,445.372,215.901z M61.152,437.196c-5.298,0-9.607-4.31-9.607-9.608c0-5.297,4.309-9.607,9.607-9.607s9.607,4.31,9.607,9.607C70.76,432.886,66.45,437.196,61.152,437.196z"/></g></svg>') no-repeat;
    background-size: cover;
}

.icon-filter{
    background: url('data:image/svg+xml;utf8,<svg height="394pt" viewBox="-5 0 394 394.00003" width="394pt" xmlns="http://www.w3.org/2000/svg"><path d="m367.820312 0h-351.261718c-6.199219-.0117188-11.878906 3.449219-14.710938 8.960938-2.871094 5.585937-2.367187 12.3125 1.300782 17.414062l128.6875 181.285156c.042968.0625.089843.121094.132812.183594 4.675781 6.3125 7.207031 13.960938 7.21875 21.816406v147.800782c-.027344 4.375 1.691406 8.582031 4.773438 11.6875 3.085937 3.101562 7.28125 4.851562 11.65625 4.851562 2.222656-.003906 4.425781-.445312 6.480468-1.300781l72.3125-27.570313c6.476563-1.980468 10.777344-8.09375 10.777344-15.453125v-120.015625c.011719-7.855468 2.542969-15.503906 7.214844-21.816406.042968-.0625.089844-.121094.132812-.183594l128.691406-181.289062c3.667969-5.097656 4.171876-11.820313 1.300782-17.40625-2.828125-5.515625-8.511719-8.9765628-14.707032-8.964844zm0 0"/></svg>') no-repeat;
    background-size: cover;
}

.icon-word {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px" class=""><g><circle style="fill:%23FAD55C" cx="256" cy="256" r="256" class=""/><path style="fill:%23FAD55C" d="M511.476,239.81l-99.979-99.979h-92.973l-32.542-32.542l-185.479,32.542v232.337L239.81,511.476  C245.165,511.81,250.56,512,256,512c141.385,0,256-114.615,256-256C512,250.56,511.81,245.166,511.476,239.81z" class="active-path"/><g><polygon style="fill:%231E2D64;" points="100.503,372.169 285.982,404.711 285.982,107.29 100.503,139.831  " class=""/><rect x="295.01" y="139.83" style="fill:%231E2D64;" width="116.49" height="232.34" class=""/></g><g><polygon style="fill:%23FAD55C" points="216.823,271.524 202.563,214.428 185.773,214.428 170.134,272.804 157.858,214.193    140.429,214.193 165.273,297.807 178.934,297.807 193.42,238.406 207.905,297.807 221.566,297.807 249.204,214.193    231.539,214.193  " class=""/><rect x="295.01" y="166.45" style="fill:%23FAD55C" width="100.57" height="22.601" class=""/><rect x="295.01" y="205.57" style="fill:%23FAD55C" width="100.57" height="22.601" class=""/><rect x="295.01" y="244.7" style="fill:%23FAD55C" width="100.57" height="22.601" class=""/><rect x="295.01" y="283.82" style="fill:%23FAD55C" width="100.57" height="22.601" class=""/><rect x="295.01" y="322.95" style="fill:%23FAD55C" width="100.57" height="22.601" class=""/></g></g> </svg>') no-repeat;
    background-size: cover;
}

.icon-excel {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px" class=""><g><circle style="fill:%23FAD55C" cx="256" cy="256" r="256" class=""/><path style="fill:%23FAD55C" d="M98.898,138.632v234.735l137.918,137.918C243.15,511.755,249.546,512,256,512  c141.385,0,256-114.615,256-256c0-6.454-0.245-12.85-0.714-19.184l-98.184-98.184h-93.933l-32.878-32.878L98.898,138.632z" class="active-path" /><g><polygon style="fill:%23006941;" points="98.898,373.368 286.292,406.246 286.292,105.754 98.898,138.632  "  class=""/><rect x="295.41" y="138.63" style="fill:%23006941;" width="117.69" height="234.74"  class=""/></g><g><rect x="295.41" y="162.46" style="fill:%23FFFFFF" width="29.59" height="32.22" class=""/><rect x="295.41" y="214.08" style="fill:%23FFFFFF" width="29.59" height="32.22"  class=""/><rect x="295.41" y="265.7" style="fill:%23FFFFFF" width="29.59" height="32.22"  class=""/><rect x="295.41" y="317.32" style="fill:%23FFFFFF" width="29.59" height="32.22"  class=""/><rect x="340.12" y="162.46" style="fill:%23FFFFFF" width="51.618" height="32.22" class=""/><rect x="340.12" y="214.08" style="fill:%23FFFFFF" width="51.618" height="32.22" class=""/><rect x="340.12" y="265.7" style="fill:%23FFFFFF" width="51.618" height="32.22" class=""/><rect x="340.12" y="317.32" style="fill:%23FFFFFF" width="51.618" height="32.22" class=""/><polygon style="fill:%23FFFFFF" points="226.195,207.943 204.81,207.943 188.638,236.65 172.467,207.943 151.081,207.943    177.946,255.631 148.451,307.989 169.836,307.989 188.638,274.612 207.441,307.989 228.826,307.989 199.331,255.631  " class=""/></g></g></svg>') no-repeat;
    background-size: cover;
}

.icon-pdf {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px" class=""><g><path style="fill:%23FAD55C" d="M256,0c141.4,0,256,114.6,256,256S397.4,512,256,512S0,397.4,0,256S114.6,0,256,0z" class=""/><path style="fill:%23FAD55C" d="M510.8,280.4C498.5,410.4,389.1,512,256,512c-9.2,0-18.4-0.5-27.3-1.5l-96.1-96.1L379.5,149  L510.8,280.4z" class=""/><polygon style="fill:%23F8F8F8;" points="132.6,97.6 328,97.6 379.4,149.1 379.4,414.4 132.6,414.4 "/><polygon style="fill:%23BF3F3D" points="132.6,97.6 328,97.6 379.4,149.1 379.4,173.8 132.6,173.8 " class="active-path"/><polygon style="fill:%23EBECEC;" points="328,97.6 328,149.1 379.4,149.1 " class=""/><path style="fill:%23F8F8F8;" d="M150.2,158.6v-44.7h14.5c5.5,0,9.1,0.2,10.7,0.7c2.6,0.7,4.7,2.1,6.4,4.4c1.7,2.2,2.6,5.2,2.6,8.7  c0,2.7-0.5,5-1.5,6.9s-2.3,3.3-3.8,4.4c-1.5,1.1-3.1,1.8-4.7,2.1c-2.2,0.4-5.3,0.6-9.4,0.6h-5.9v16.9H150.2z M159.3,121.4v12.7h4.9  c3.6,0,5.9-0.2,7.1-0.7c1.2-0.5,2.1-1.2,2.8-2.2s1-2.2,1-3.5c0-1.6-0.5-3-1.4-4c-1-1.1-2.2-1.7-3.6-2c-1.1-0.2-3.2-0.3-6.5-0.3  C163.6,121.4,159.3,121.4,159.3,121.4z M191.9,113.8h16.5c3.7,0,6.5,0.3,8.5,0.9c2.6,0.8,4.9,2.1,6.7,4.1c1.9,2,3.3,4.4,4.3,7.3  c1,2.9,1.5,6.4,1.5,10.6c0,3.7-0.5,6.8-1.4,9.5c-1.1,3.3-2.7,5.9-4.8,7.9c-1.6,1.5-3.7,2.7-6.3,3.6c-2,0.6-4.6,1-8,1h-17V113.8z   M201,121.4V151h6.7c2.5,0,4.3-0.1,5.4-0.4c1.5-0.4,2.7-1,3.6-1.9c1-0.9,1.8-2.3,2.4-4.3c0.6-2,0.9-4.7,0.9-8.2s-0.3-6.1-0.9-8  c-0.6-1.9-1.5-3.3-2.5-4.3c-1.1-1-2.5-1.7-4.2-2.1c-1.3-0.3-3.7-0.4-7.4-0.4C205,121.4,201,121.4,201,121.4z M237,158.6v-44.7h30.7  v7.6H246V132h18.7v7.6H246v19H237z"/><path style="fill:%23BF3F3D" d="M335.5,325.5c5.5,0.1,13.9,0.1,18.1,3.8l3.5,3.7c2-2.5,2.4-7.2-0.6-10.2c-10.3-10.4-48.1-4.4-61.5-3  c-1.5,0.1-3.3-1.5-4.4-2.3c-4.9-3.1-13-10.4-16.8-14.8l-7.8-9.8c-5.9-8.1-10.9-17.8-14.7-27.4c-1.2-2.9-0.9-2.5-0.2-5.6  c0.4-1.9,0.8-3.9,1.1-5.9c1.5-8.1,2.5-17.1,2.1-25.6c-1.7-0.3-1.3,0.6-1.7,2l-5.3,17.2c-0.2,0.5-0.3,0.9-0.5,1.4  c-0.1,0.2-0.2,0.5-0.2,0.7l-0.4,0.6c-0.9-1.9-1.9-7.1-2.4-9.5c-2.1-9.7-3.5-22.1-2.9-32c0.4-6.7,2.8-17.4,8.3-8.1  c1.5,2.4,2.7,5,3.9,7.8l3.1,8.6c0.9-3.5,1-7,0.3-10.6c-1.1-5.2-2.5-5.8-3.8-7.9c-0.8-0.4-1.1-1-2-1.6c-0.7-0.5-1.4-0.8-2.2-1.3  c-4.5-1.4-5.3-1.9-10.2-0.7c-0.6,0.3-1.2,0.6-1.8,0.9l-1.2,0.9c-0.3,0.3,0,0.1-0.5,0.3c-0.3,0.6-0.9,0.9-1.9,2.7  c-1.9,3.4-2.2,7.4-2.3,11.3c-0.5,16.7,4,38.7,9.1,54.4c0.5,1.5-0.1,2.1-0.6,3.5c-2.1,5.2-4.6,10.6-6.8,15.7  c-5.1,11.9-17.8,36.7-24.2,48.2c-4.3,7.7-8.2,15.9-12.6,23.5c-2.3,3.9-4.8,7.6-7.3,11c-1.9,2.6-10.1,12.8-12.4,14.8  c-1.6,1.3-2.9,3-4.5,4.4c-0.9,0.8-1.4,1.5-2.4,2.3c-0.8,0.7-1.5,1.4-2.4,2.1c-1,0.8-3.8,3.8-5.4,2.7c-3.1-3.2,12.3-23,16-26.6  l12.7-13.1c-5.3,1.8-11.8,5.8-15.8,8.6c-6.3,4.5-20.4,18.9-21.1,27.2c-0.7,8.6,12.7,13.4,23.2,6.5c1-0.6,2.8-2,3.4-2.7  c5.6-6,8.5-10.1,13.2-17c5.8-8.6,11-17.1,16.3-26.1c0.8-1.4,2-1.6,3.5-2.3c21.8-10.7,51.8-17.4,76.5-20.3c2-0.2,2.6,0.6,4.2,1.5  c1.4,0.8,2.5,1.4,3.9,2.2c7.3,3.9,17.3,8.3,25.4,10.7c11.4,3.3,33.1,7.5,34.2-7.6l-1.2,1c-5.4,4.2-19.7,0.9-25.2-0.7  c-4.5-1.3-19.9-6.3-23.2-8.5C316.5,325.8,326.5,325.4,335.5,325.5z M263.3,325.5c-13.2,3-28.9,7.2-41.2,12.6c-2.2,1-5.3,2.7-7.2,3.3  c0.4-1.1,1.4-2.7,2.1-3.8c4.2-7,19-34.9,21.8-41.2c1.2-2.7,2.3-5.2,3.5-8c1.1-2.7,2-5.6,3.2-8.3c1,1.4,2.4,4.8,3.3,6.4  c3.7,7,7.2,11.3,12,17c1.5,1.8,3.2,3.5,4.7,5.1l10.2,9c1.6,1.3,4.1,2.8,5.5,4.1L263.3,325.5z" class=""/></g> </svg>') no-repeat;
    background-size: cover;
}

.icon-delete {
    background: url('data:image/svg+xml;utf8,<svg height="512pt" viewBox="-78 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg"><path fill="%23617182" d="m325.78125 57.871094h-54.828125v-2.871094c0-30.328125-24.671875-55-55-55h-76.125c-30.328125 0-55 24.671875-55 55v2.871094h-54.828125c-16.566406 0-30 13.429687-30 30v22.867187c0 5.523438 4.476562 10 10 10h335.78125c5.523438 0 10-4.476562 10-10v-22.867187c0-16.570313-13.429688-30-30-30zm-210.953125-2.871094c0-13.785156 11.214844-25 25-25h76.125c13.785156 0 25 11.214844 25 25v2.871094h-126.125zm0 0"/><path d="m12.949219 150.738281 24.238281 347.304688c.550781 7.859375 7.085938 13.957031 14.964844 13.957031h251.480468c7.878907 0 14.414063-6.097656 14.960938-13.957031l24.234375-347.304688zm105.578125 310.246094c-.214844.011719-.433594.015625-.648438.015625-7.988281 0-14.632812-6.304688-14.972656-14.363281l-10-235c-.355469-8.277344 6.070312-15.273438 14.347656-15.625 8.28125-.339844 15.273438 6.074219 15.625 14.351562l10 235c.351563 8.277344-6.074218 15.269531-14.351562 15.621094zm74.363281-14.984375c0 8.285156-6.714844 15-15 15s-15-6.714844-15-15v-235c0-8.285156 6.714844-15 15-15s15 6.714844 15 15zm59.988281.636719c-.34375 8.0625-6.988281 14.363281-14.976562 14.363281-.214844 0-.433594-.003906-.648438-.011719-8.277344-.351562-14.703125-7.347656-14.351562-15.625l10-235c.355468-8.277343 7.359375-14.699219 15.625-14.347656 8.277344.351563 14.703125 7.34375 14.351562 15.621094zm0 0"/></svg>') no-repeat;
    background-size: cover;
}

.icon-save {
    background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="488.446px" height="488.446px" viewBox="0 0 488.446 488.446" style="enable-background:new 0 0 488.446 488.446;" xml:space="preserve"><g><g><g><path fill="%23617182" d="M153.029,90.223h182.404c5.427,0,9.873-4.43,9.873-9.869V0H143.137v80.354C143.137,85.793,147.571,90.223,153.029,90.223z"/><path fill="%23617182" d="M480.817,122.864L377.88,19.494v60.859c0,23.404-19.043,42.447-42.447,42.447H153.029c-23.409,0-42.447-19.043-42.447-42.447V0H44.823C20.068,0,0.002,20.07,0.002,44.808v398.831c0,24.736,20.066,44.808,44.821,44.808h398.813c24.74,0,44.808-20.068,44.808-44.808V141.325C488.444,134.392,485.698,127.758,480.817,122.864z M412.461,385.666c0,14.434-11.703,26.154-26.168,26.154H102.137c-14.451,0-26.153-11.722-26.153-26.154V249.303c0-14.43,11.702-26.148,26.153-26.148h284.156c14.465,0,26.168,11.72,26.168,26.148V385.666z"/><path fill="%23617182" d="M356.497,265.131H131.949c-9.008,0-16.294,7.273-16.294,16.28s7.286,16.28,16.294,16.28h224.549c8.988,0,16.277-7.273,16.277-16.28S365.487,265.131,356.497,265.131z"/><path fill="%23617182" d="M323.936,330.264H164.508c-8.994,0-16.28,7.273-16.28,16.28c0,8.989,7.286,16.28,16.28,16.28h159.427c8.994,0,16.281-7.291,16.281-16.28C340.217,337.537,332.93,330.264,323.936,330.264z"/></g></g></g></svg>') no-repeat;
    background-size: cover;
}

.icon-chart {
    background: url('data:image/svg+xml;utf8,<svg height="512pt" viewBox="0 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg"><path fill="%23617182" d="m76 240c12.101562 0 23.054688-4.855469 31.148438-12.652344l44.402343 22.199219c-.222656 1.808594-.550781 3.585937-.550781 5.453125 0 24.8125 20.1875 45 45 45s45-20.1875 45-45c0-6.925781-1.703125-13.410156-4.511719-19.277344l60.234375-60.234375c5.867188 2.808594 12.351563 4.511719 19.277344 4.511719 24.8125 0 45-20.1875 45-45 0-4.671875-.917969-9.089844-2.246094-13.328125l52.335938-39.242187c7.140625 4.769531 15.699218 7.570312 24.910156 7.570312 24.8125 0 45-20.1875 45-45s-20.1875-45-45-45-45 20.1875-45 45c0 4.671875.917969 9.089844 2.246094 13.328125l-52.335938 39.242187c-7.140625-4.769531-15.699218-7.570312-24.910156-7.570312-24.8125 0-45 20.1875-45 45 0 6.925781 1.703125 13.410156 4.511719 19.277344l-60.234375 60.234375c-5.867188-2.808594-12.351563-4.511719-19.277344-4.511719-12.101562 0-23.054688 4.855469-31.148438 12.652344l-44.402343-22.199219c.222656-1.808594.550781-3.585937.550781-5.453125 0-24.8125-20.1875-45-45-45s-45 20.1875-45 45 20.1875 45 45 45zm0 0"/><path fill="%23617182" d="m497 482h-16v-317c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v317h-30v-227c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v227h-30v-107c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v107h-30v-167c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v167h-16c-8.289062 0-15 6.710938-15 15s6.710938 15 15 15h482c8.289062 0 15-6.710938 15-15s-6.710938-15-15-15zm0 0"/></svg>') no-repeat;
    background-size: cover;
  }

  .icon-calender {
    background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><path fill="%23617182" d="M467,60h-15V45c0-24.813-20.187-45-45-45s-45,20.187-45,45v15h-60V45c0-24.813-20.187-45-45-45s-45,20.187-45,45v15h-62V45c0-24.813-20.187-45-45-45S60,20.187,60,45v15H45C20.187,60,0,80.187,0,105c0,2.176,0,356.248,0,362c0,24.813,20.187,45,45,45h422c24.813,0,45-20.187,45-45c0-2.763,0-357.126,0-362C512,80.187,491.813,60,467,60z M392,45c0-8.271,6.729-15,15-15s15,6.729,15,15v60c0,8.271-6.729,15-15,15s-15-6.729-15-15V45z M242,45c0-8.271,6.729-15,15-15s15,6.729,15,15v60c0,8.271-6.729,15-15,15s-15-6.729-15-15V45z M90,45c0-8.271,6.729-15,15-15s15,6.729,15,15v60c0,8.271-6.729,15-15,15s-15-6.729-15-15V45z M482,467c0,8.271-6.729,15-15,15H45c-8.271,0-15-6.729-15-15V212h452V467z M482,182H30v-77c0-8.271,6.729-15,15-15h15v15c0,24.813,20.187,45,45,45s45-20.187,45-45V90h62v15c0,24.813,20.187,45,45,45s45-20.187,45-45V90h60v15c0,24.813,20.187,45,45,45s45-20.187,45-45V90h15c8.271,0,15,6.729,15,15V182z"/></g></g><g><g><path fill="%23617182" d="M437,242H75c-8.284,0-15,6.716-15,15v180c0,8.284,6.716,15,15,15h362c8.284,0,15-6.716,15-15V257C452,248.716,445.284,242,437,242z M150,422H90v-60h60V422z M150,332H90v-60h60V332z M242,422h-62v-60h62V422z M242,332h-62v-60h62V332z M332,422h-60v-60h60V422z M332,332h-60v-60h60V332z M422,422h-60v-60h60V422z M422,332h-60v-60h60V332z"/></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-map {
    background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve"><g><path fill="%23617182" d="M1,57.586l-0.707,0.707c-0.391,0.391-0.391,1.023,0,1.414C0.488,59.902,0.744,60,1,60s0.512-0.098,0.707-0.293L2.414,59c0.391-0.391,0.391-1.023,0-1.414S1.391,57.195,1,57.586z"/><path fill="%23617182" d="M14.077,52c-0.552,0-1,0.447-1,1s0.448,1,1,1h1.821c0.552,0,1-0.447,1-1s-0.448-1-1-1H14.077z"/><path fill="%23617182" d="M19.539,52c-0.552,0-1,0.447-1,1s0.448,1,1,1h1.82c0.552,0,1-0.447,1-1s-0.448-1-1-1H19.539z"/><path fill="%23617182" d="M8.616,52c-0.552,0-1,0.447-1,1s0.448,1,1,1h1.82c0.552,0,1-0.447,1-1s-0.448-1-1-1H8.616z"/><path fill="%23617182" d="M6.275,53.725c-0.391-0.391-1.023-0.391-1.414,0l-1.287,1.287c-0.391,0.391-0.391,1.023,0,1.414c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293l1.287-1.287C6.666,54.748,6.666,54.115,6.275,53.725z"/><path fill="%23617182" d="M25,52c-0.552,0-1,0.447-1,1s0.448,1,1,1h1c0.552,0,1-0.447,1-1s-0.448-1-1-1H25z"/><path fill="%23617182" d="M1,53.758c0.256,0,0.512-0.098,0.707-0.293l3.876-3.876c0.095-0.095,0.199-0.18,0.349-0.272l0.193-0.104c0.035-0.021,0.069-0.042,0.106-0.058l0.374-0.115C6.736,49.015,6.868,49,7,49h15c0.552,0,1-0.447,1-1s-0.448-1-1-1H7c-0.256,0-0.519,0.026-0.791,0.079C6.113,47.1,6.021,47.128,5.93,47.158l-0.131,0.039c-0.112,0.03-0.224,0.064-0.326,0.106c-0.119,0.049-0.231,0.109-0.342,0.173l-0.095,0.052c-0.085,0.043-0.169,0.087-0.257,0.146c-0.221,0.147-0.426,0.316-0.611,0.501l-3.876,3.876c-0.391,0.391-0.391,1.023,0,1.414C0.488,53.66,0.744,53.758,1,53.758z"/><path fill="%23617182" d="M58.293,48.707c0.256,0,0.512-0.098,0.707-0.293l0.707-0.707c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0L57.586,47c-0.391,0.391-0.391,1.023,0,1.414C57.781,48.609,58.037,48.707,58.293,48.707z"/><path fill="%23617182" d="M54.566,50.02l-1.51,1.51c-0.391,0.391-0.391,1.023,0,1.414c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293l1.51-1.51c0.391-0.391,0.391-1.023,0-1.414S54.957,49.629,54.566,50.02z"/><path fill="%23617182" d="M41.27,52c-0.552,0-1,0.447-1,1s0.448,1,1,1h2.135c0.552,0,1-0.447,1-1s-0.448-1-1-1H41.27z"/><path fill="%23617182" d="M47.675,52c-0.553,0-1,0.447-1,1s0.447,1,1,1h2.135c0.553,0,1-0.447,1-1s-0.447-1-1-1H47.675z"/><path fill="%23617182" d="M36,52c-0.552,0-1,0.447-1,1s0.448,1,1,1h1c0.552,0,1-0.447,1-1s-0.448-1-1-1H36z"/><path fill="%23617182" d="M58.293,52.535l-3.876,3.876c-0.094,0.094-0.197,0.178-0.347,0.271l-0.188,0.102c-0.04,0.022-0.079,0.047-0.119,0.063c-0.031,0.013-0.064,0.02-0.097,0.029l-0.278,0.084C53.261,56.986,53.131,57,53,57H7.89l-1.517,1.221c-0.43,0.347-0.499,0.977-0.152,1.406C6.418,59.872,6.708,60,7,60c0.22,0,0.442-0.072,0.626-0.221L8.595,59H53c0.26,0,0.524-0.026,0.779-0.078c0.102-0.02,0.198-0.049,0.295-0.081l0.125-0.037c0.112-0.031,0.223-0.064,0.335-0.111c0.117-0.049,0.227-0.108,0.337-0.171l0.099-0.054c0.086-0.043,0.17-0.088,0.247-0.14c0.221-0.147,0.428-0.316,0.614-0.503l3.876-3.876c0.391-0.391,0.391-1.023,0-1.414S58.684,52.145,58.293,52.535z"/><path fill="%23617182" d="M39,48c0,0.553,0.448,1,1,1h12.172l3.293-3.293c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0L51.344,47H40C39.448,47,39,47.447,39,48z"/><path fill="%23617182" d="M31.177,54.757L46.518,32.6c5.754-7.672,4.921-20.28-1.781-26.982C41.115,1.995,36.299,0,31.177,0s-9.938,1.995-13.56,5.617c-6.703,6.702-7.536,19.312-1.804,26.952L31.177,54.757z M31.354,12c3.86,0,7,3.141,7,7s-3.14,7-7,7s-7-3.141-7-7S27.494,12,31.354,12z"/></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-gallery {
    background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.003 512.003" style="enable-background:new 0 0 512.003 512.003;" xml:space="preserve"><g><g><path fill="%23617182" d="M373.333,31.991H10.667C4.779,31.991,0,36.769,0,42.657v320c0,1.707,0.491,3.264,1.195,4.693c0.064,0.128,0.021,0.277,0.107,0.427c0.149,0.256,0.448,0.384,0.597,0.619c0.747,1.109,1.643,2.048,2.731,2.816c0.384,0.277,0.704,0.533,1.109,0.747c1.493,0.811,3.115,1.365,4.928,1.365h362.667c1.728,0,3.307-0.512,4.736-1.237c0.405-0.213,0.725-0.491,1.109-0.747c1.024-0.683,1.877-1.493,2.603-2.496c0.171-0.235,0.469-0.341,0.619-0.597c0.107-0.192,0.085-0.405,0.192-0.597c0.619-1.131,0.981-2.368,1.152-3.712c0.043-0.363,0.192-0.661,0.213-1.024c0-0.085,0.043-0.171,0.043-0.256v-320C384,36.769,379.221,31.991,373.333,31.991z M362.667,317.473l-97.131-194.24c-1.771-3.52-5.312-5.781-9.259-5.888c-4.032-0.192-7.595,1.963-9.557,5.376l-78.4,137.216l-54.123-54.165c-2.261-2.261-5.504-3.392-8.661-3.051c-3.2,0.341-6.101,2.133-7.829,4.843L21.333,326.348V53.324h341.333V317.473z"/></g></g><g><g><circle cx="117.333" cy="127.991" r="53.333"/></g></g><g><g><path fill="%23617182" d="M399.744,393.655c-3.221-3.435-8.277-4.395-12.501-2.347c-4.565,2.219-9.237,3.349-13.909,3.349H236.8c-4.864,0-9.109,3.285-10.325,8s0.896,9.643,5.141,12.011l115.2,64c1.643,0.917,3.413,1.344,5.163,1.344c3.669,0,7.232-1.899,9.237-5.291l39.915-68.437C403.499,402.231,402.923,397.089,399.744,393.655z"/></g></g><g><g><path fill="%23617182" d="M507.243,204.449l-85.333-56.896c-3.285-2.176-7.509-2.368-10.944-0.533c-3.456,1.856-5.632,5.483-5.632,9.408v203.157c0,4.821,3.221,9.045,7.893,10.304c0.917,0.256,1.856,0.363,2.773,0.363c3.733,0,7.275-1.963,9.216-5.291l85.333-146.283C513.387,213.815,511.957,207.564,507.243,204.449z"/></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-search {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px" class=""><g><g><g><path d="M317,0C209.477,0,122,87.477,122,195c0,42.96,13.975,82.712,37.603,114.971L0,469.573L42.426,512l159.603-159.603    C234.288,376.025,274.04,390,317,390c107.523,0,195-87.477,195-195S424.523,0,317,0z M317,360c-90.981,0-165-74.019-165-165    S226.019,30,317,30s165,74.019,165,165S407.981,360,317,360z" class="active-path" fill="%23FFFFFF"/></g></g></g></svg>') no-repeat;
    background-size: cover;
  }

 .icon-user {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 485.211 485.21" style="enable-background:new 0 0 485.211 485.21;" xml:space="preserve" class=""><g><g><path d="M394.235,333.585h-30.327c-33.495,0-60.653-27.158-60.653-60.654v-19.484c13.418-15.948,23.042-34.812,29.024-54.745   c0.621-3.36,3.855-5.02,6.012-7.33c11.611-11.609,13.894-31.2,5.185-45.149c-1.186-2.117-3.322-3.953-3.201-6.576   c0-17.784,0.089-35.596-0.023-53.366c-0.476-21.455-6.608-43.773-21.65-59.66c-12.144-12.836-28.819-20.479-46.022-23.75   c-21.739-4.147-44.482-3.937-66.013,1.54c-18.659,4.709-36.189,15.637-47.028,31.836c-9.598,14.083-13.803,31.183-14.513,48.036   c-0.266,18.094-0.061,36.233-0.116,54.371c0.413,3.631-2.667,6.088-4.058,9.094c-8.203,14.881-4.592,35.155,8.589,45.978   c3.344,2.308,3.97,6.515,5.181,10.142c5.748,17.917,15.282,34.487,27.335,48.925v20.138c0,33.496-27.157,60.654-60.651,60.654   H90.978c0,0-54.964,15.158-90.978,90.975v30.327c0,16.759,13.564,30.321,30.327,30.321h424.562   c16.759,0,30.322-13.562,30.322-30.321V424.56C449.199,348.749,394.235,333.585,394.235,333.585z" data-original="%23000000" class="active-path" data-old_color="%237a7575" fill="%237a7575"/></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-close {
    background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.995 511.995" style="enable-background:new 0 0 511.995 511.995;" xml:space="preserve"><g><g><path d="M437.126,74.939c-99.826-99.826-262.307-99.826-362.133,0C26.637,123.314,0,187.617,0,256.005s26.637,132.691,74.993,181.047c49.923,49.923,115.495,74.874,181.066,74.874s131.144-24.951,181.066-74.874C536.951,337.226,536.951,174.784,437.126,74.939z M409.08,409.006c-84.375,84.375-221.667,84.375-306.042,0c-40.858-40.858-63.37-95.204-63.37-153.001s22.512-112.143,63.37-153.021c84.375-84.375,221.667-84.355,306.042,0C493.435,187.359,493.435,324.651,409.08,409.006z"/></g></g><g><g><path d="M341.525,310.827l-56.151-56.071l56.151-56.071c7.735-7.735,7.735-20.29,0.02-28.046c-7.755-7.775-20.31-7.755-28.065-0.02l-56.19,56.111l-56.19-56.111c-7.755-7.735-20.31-7.755-28.065,0.02c-7.735,7.755-7.735,20.31,0.02,28.046l56.151,56.071l-56.151,56.071c-7.755,7.735-7.755,20.29-0.02,28.046c3.868,3.887,8.965,5.811,14.043,5.811s10.155-1.944,14.023-5.792l56.19-56.111l56.19,56.111c3.868,3.868,8.945,5.792,14.023,5.792c5.078,0,10.175-1.944,14.043-5.811C349.28,331.117,349.28,318.562,341.525,310.827z"/></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-shopping-cart {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 2138.327 2138.327" style="enable-background:new 0 0 2138.327 2138.327;" xml:space="preserve" width="512px" height="512px" class=""><g transform="matrix(1 -2.44929e-16 2.44929e-16 1 -4.54747e-13 4.54747e-13)"><path d="M1032.925,1852.654c0,98.076-79.506,177.583-177.583,177.583S677.76,1950.73,677.76,1852.654  c0-98.076,79.506-177.583,177.583-177.583S1032.925,1754.578,1032.925,1852.654z M1574.387,1675.072  c-98.076,0-177.583,79.507-177.583,177.583c0,98.076,79.507,177.583,177.583,177.583c98.076,0,177.583-79.507,177.583-177.583  C1751.969,1754.578,1672.463,1675.072,1574.387,1675.072z M2125.619,841.423l-218.512,649.464c0,0-18.088,96.383-110.247,96.383  s-993.407,0-1103.389,0s-114.604-120.809-114.604-120.809S461.624,596.637,455.814,544.088s-73.013-91.498-73.013-91.498  L93.651,317.522c-158.306-82.784-86.349-240.298,0-204.121c366.652,172.961,536.973,258.122,547.932,326.25  c11.091,68.26,30.367,232.64,30.367,232.64v1.056c2.245-0.66,3.829-1.056,3.829-1.056s1124.382,0,1351.477,0  C2190.447,672.291,2125.619,841.688,2125.619,841.423z M1809.535,1203.058l-2.245,0.132H737.57L759.619,1378h997.896  L1809.535,1203.058z M1913.708,850.534H693.339l23.502,186.825c234.092,0,919.601,0,1141.678,0L1913.708,850.534z" data-original="%23090509" class="active-path" data-old_color="%23090509" fill="%23242324"/></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-remove {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 339.177 339.177" style="enable-background:new 0 0 339.177 339.177;" xml:space="preserve" class="hovered-paths"><g><g><path d="M247.244,169.59l83.938-83.938c5.332-5.327,7.994-11.798,7.994-19.414c0-7.614-2.669-14.084-7.994-19.414L292.355,7.993   C287.026,2.665,280.556,0,272.944,0c-7.617,0-14.085,2.665-19.417,7.993L169.59,91.931L85.651,7.993   C80.325,2.665,73.854,0,66.237,0c-7.611,0-14.083,2.665-19.414,7.993L7.994,46.824C2.667,52.15,0,58.624,0,66.238   c0,7.616,2.664,14.084,7.994,19.414l83.937,83.938L7.994,253.528C2.667,258.859,0,265.327,0,272.945   c0,7.61,2.664,14.082,7.994,19.41l38.83,38.828c5.33,5.332,11.803,7.994,19.414,7.994c7.616,0,14.084-2.669,19.414-7.994   l83.939-83.938l83.944,83.938c5.328,5.332,11.793,7.994,19.417,7.994c7.611,0,14.082-2.669,19.411-7.994l38.82-38.828   c5.332-5.324,7.994-11.8,7.994-19.41c0-7.618-2.662-14.086-7.994-19.417L247.244,169.59z" data-original="%23000000" class="hovered-path active-path" fill="%23000000"/></g></g> </svg>') no-repeat;
    background-size: cover;
  }

  .icon-clock {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 465.2 465.2" style="enable-background:new 0 0 465.2 465.2;" xml:space="preserve"><g><g><g id="Layer_2_16_"><g><path d="M279.591,423.714c-3.836,0.956-7.747,1.805-11.629,2.52c-10.148,1.887-16.857,11.647-14.98,21.804     c0.927,4.997,3.765,9.159,7.618,11.876c3.971,2.795,9.025,4.057,14.175,3.099c4.623-0.858,9.282-1.867,13.854-3.008     c10.021-2.494,16.126-12.646,13.626-22.662C299.761,427.318,289.618,421.218,279.591,423.714z" data-original="%23000000" class="active-path" fill="%23000000"/><path d="M417.887,173.047c1.31,3.948,3.811,7.171,6.97,9.398c4.684,3.299,10.813,4.409,16.662,2.475     c9.806-3.256,15.119-13.83,11.875-23.631c-1.478-4.468-3.118-8.95-4.865-13.314c-3.836-9.59-14.714-14.259-24.309-10.423     c-9.585,3.834-14.256,14.715-10.417,24.308C415.271,165.528,416.646,169.293,417.887,173.047z" data-original="%23000000" class="active-path" fill="%23000000"/><path d="M340.36,397.013c-3.299,2.178-6.704,4.286-10.134,6.261c-8.949,5.162-12.014,16.601-6.854,25.546     c1.401,2.433,3.267,4.422,5.416,5.942c5.769,4.059,13.604,4.667,20.127,0.909c4.078-2.352,8.133-4.854,12.062-7.452     c8.614-5.691,10.985-17.294,5.291-25.912C360.575,393.686,348.977,391.318,340.36,397.013z" data-original="%23000000" class="active-path" fill="%23000000"/><path d="M465.022,225.279c-0.407-10.322-9.101-18.356-19.426-17.953c-10.312,0.407-18.352,9.104-17.947,19.422     c0.155,3.945,0.195,7.949,0.104,11.89c-0.145,6.473,3.021,12.243,7.941,15.711c2.931,2.064,6.488,3.313,10.345,3.401     c10.322,0.229,18.876-7.958,19.105-18.285C465.247,234.756,465.208,229.985,465.022,225.279z" data-original="%23000000" class="active-path" fill="%23000000"/><path d="M414.835,347.816c-8.277-6.21-19.987-4.524-26.186,3.738c-2.374,3.164-4.874,6.289-7.434,9.298     c-6.69,7.86-5.745,19.666,2.115,26.361c0.448,0.38,0.901,0.729,1.371,1.057c7.814,5.509,18.674,4.243,24.992-3.171     c3.057-3.59,6.037-7.323,8.874-11.102C424.767,365.735,423.089,354.017,414.835,347.816z" data-original="%23000000" class="active-path" fill="%23000000"/><path d="M442.325,280.213c-9.855-3.09-20.35,2.396-23.438,12.251c-1.182,3.765-2.492,7.548-3.906,11.253     c-3.105,8.156-0.13,17.13,6.69,21.939c1.251,0.879,2.629,1.624,4.126,2.19c9.649,3.682,20.454-1.159,24.132-10.812     c1.679-4.405,3.237-8.906,4.646-13.382C457.66,293.795,452.178,283.303,442.325,280.213z" data-original="%23000000" class="active-path" fill="%23000000"/><path d="M197.999,426.402c-16.72-3.002-32.759-8.114-47.968-15.244c-0.18-0.094-0.341-0.201-0.53-0.287     c-3.584-1.687-7.162-3.494-10.63-5.382c-0.012-0.014-0.034-0.023-0.053-0.031c-6.363-3.504-12.573-7.381-18.606-11.628     C32.24,331.86,11.088,209.872,73.062,121.901c13.476-19.122,29.784-35.075,47.965-47.719c0.224-0.156,0.448-0.311,0.67-0.468     c64.067-44.144,151.06-47.119,219.089-1.757l-14.611,21.111c-4.062,5.876-1.563,10.158,5.548,9.518l63.467-5.682     c7.12-0.64,11.378-6.799,9.463-13.675L387.61,21.823c-1.908-6.884-6.793-7.708-10.859-1.833l-14.645,21.161     C312.182,7.638,252.303-5.141,192.87,5.165c-5.986,1.036-11.888,2.304-17.709,3.78c-0.045,0.008-0.081,0.013-0.117,0.021     c-0.225,0.055-0.453,0.128-0.672,0.189C123.122,22.316,78.407,52.207,46.5,94.855c-0.269,0.319-0.546,0.631-0.8,0.978     c-1.061,1.429-2.114,2.891-3.145,4.353c-1.686,2.396-3.348,4.852-4.938,7.308c-0.199,0.296-0.351,0.597-0.525,0.896     C10.762,149.191-1.938,196.361,0.24,244.383c0.005,0.158-0.004,0.317,0,0.479c0.211,4.691,0.583,9.447,1.088,14.129     c0.027,0.302,0.094,0.588,0.145,0.89c0.522,4.708,1.177,9.427,1.998,14.145c8.344,48.138,31.052,91.455,65.079,125.16     c0.079,0.079,0.161,0.165,0.241,0.247c0.028,0.031,0.059,0.047,0.086,0.076c9.142,9.017,19.086,17.357,29.793,24.898     c28.02,19.744,59.221,32.795,92.729,38.808c10.167,1.827,19.879-4.941,21.703-15.103     C214.925,437.943,208.163,428.223,197.999,426.402z" data-original="%23000000" class="active-path" fill="%23000000"/><path d="M221.124,83.198c-8.363,0-15.137,6.78-15.137,15.131v150.747l137.87,71.271c2.219,1.149,4.595,1.69,6.933,1.69     c5.476,0,10.765-2.982,13.454-8.185c3.835-7.426,0.933-16.549-6.493-20.384l-121.507-62.818V98.329     C236.243,89.978,229.477,83.198,221.124,83.198z" data-original="%23000000" class="active-path" fill="%23000000"/></g></g></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-dateTime {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="512px" height="512px"><g><g id="Schedue"><path d="M55,8H51V6a4,4,0,0,0-8,0V8H35V6a4,4,0,0,0-8,0V8H19V6a4,4,0,0,0-8,0V8H7a5.006,5.006,0,0,0-5,5V55a5.006,5.006,0,0,0,5,5H37a1,1,0,0,0,0-2H7a3,3,0,0,1-3-3V22H58V36a1,1,0,0,0,2,0V13A5.006,5.006,0,0,0,55,8ZM45,6a2,2,0,0,1,4,0v6a2,2,0,0,1-4,0ZM29,6a2,2,0,0,1,4,0v6a2,2,0,0,1-4,0ZM13,6a2,2,0,0,1,4,0v6a2,2,0,0,1-4,0ZM4,20V13a3,3,0,0,1,3-3h4v2a4,4,0,0,0,8,0V10h8v2a4,4,0,0,0,8,0V10h8v2a4,4,0,0,0,8,0V10h4a3,3,0,0,1,3,3v7Z" class="active-path" fill="%23676565"/><path d="M61,41a1,1,0,0,0,0-2H57a1,1,0,0,0-1,1v4a1,1,0,0,0,2,0V42.693a10.975,10.975,0,1,1-5.162-4,1,1,0,1,0,.7-1.875A13.018,13.018,0,1,0,59.235,41Z" class="active-path" fill="%23676565"/><path d="M50,46.184V41a1,1,0,0,0-2,0v5.184A3,3,0,0,0,46.184,48H43a1,1,0,0,0,0,2h3.184A2.993,2.993,0,1,0,50,46.184ZM49,50a1,1,0,1,1,1-1A1,1,0,0,1,49,50Z" class="active-path" fill="%23676565"/><path d="M27,33H23a2,2,0,0,1-2-2V28a2,2,0,0,1,2-2h4a2,2,0,0,1,2,2v3A2,2,0,0,1,27,33Zm-4-5v3h4V28Z" class="active-path" fill="%23676565"/><path d="M39,33H35a2,2,0,0,1-2-2V28a2,2,0,0,1,2-2h4a2,2,0,0,1,2,2v3A2,2,0,0,1,39,33Zm-4-5v3h4V28Z" class="active-path" fill="%23676565"/><path d="M15,33H11a2,2,0,0,1-2-2V28a2,2,0,0,1,2-2h4a2,2,0,0,1,2,2v3A2,2,0,0,1,15,33Zm-4-5v3h4V28Z" class="active-path" fill="%23676565"/><path d="M51,33H47a2,2,0,0,1-2-2V28a2,2,0,0,1,2-2h4a2,2,0,0,1,2,2v3A2,2,0,0,1,51,33Zm-4-5v3h4V28Z" class="active-path" fill="%23676565"/><path d="M27,44H23a2,2,0,0,1-2-2V39a2,2,0,0,1,2-2h4a2,2,0,0,1,2,2v3A2,2,0,0,1,27,44Zm-4-5v3h4V39Z" class="active-path" fill="%23676565"/><path d="M35,44a2,2,0,0,1-2-2V39a2,2,0,0,1,2-2h3a1,1,0,0,1,0,2H35v3a1,1,0,0,1,0,2Z" class="active-path" fill="%23676565"/><path d="M15,44H11a2,2,0,0,1-2-2V39a2,2,0,0,1,2-2h4a2,2,0,0,1,2,2v3A2,2,0,0,1,15,44Zm-4-5v3h4V39Z" class="active-path" fill="%23676565"/><path d="M27,55H23a2,2,0,0,1-2-2V50a2,2,0,0,1,2-2h4a2,2,0,0,1,2,2v3A2,2,0,0,1,27,55Zm-4-5v3h4V50Z" class="active-path" fill="%23676565"/><path d="M15,55H11a2,2,0,0,1-2-2V50a2,2,0,0,1,2-2h4a2,2,0,0,1,2,2v3A2,2,0,0,1,15,55Zm-4-5v3h4V50Z" class="active-path" fill="%23676565"/></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-arrowDown {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 491.996 491.996" style="enable-background:new 0 0 491.996 491.996;" xml:space="preserve" width="512px" height="512px"><g><g><g><path d="M484.132,124.986l-16.116-16.228c-5.072-5.068-11.82-7.86-19.032-7.86c-7.208,0-13.964,2.792-19.036,7.86l-183.84,183.848    L62.056,108.554c-5.064-5.068-11.82-7.856-19.028-7.856s-13.968,2.788-19.036,7.856l-16.12,16.128    c-10.496,10.488-10.496,27.572,0,38.06l219.136,219.924c5.064,5.064,11.812,8.632,19.084,8.632h0.084    c7.212,0,13.96-3.572,19.024-8.632l218.932-219.328c5.072-5.064,7.856-12.016,7.864-19.224    C491.996,136.902,489.204,130.046,484.132,124.986z" class="active-path" fill="%23343a40"/></g></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-arrowUp {
    background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.01 512.01" style="enable-background:new 0 0 512.01 512.01;" xml:space="preserve"><g><g><path d="M505.755,358.256L271.088,123.589c-8.341-8.341-21.824-8.341-30.165,0L6.256,358.256c-8.341,8.341-8.341,21.824,0,30.165s21.824,8.341,30.165,0l219.584-219.584l219.584,219.584c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251C514.096,380.08,514.096,366.597,505.755,358.256z"/></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-orderList {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="512px" viewBox="-1 0 495 496" width="512px"><g><path d="m352.5 480h-336v-464h88v32h-64c-4.425781 0-8 3.585938-8 8v384c0 4.414062 3.574219 8 8 8h224c2.128906 0 4.160156-.839844 5.65625-2.34375l64-64c1.503906-1.496094 2.34375-3.535156 2.34375-5.65625v-88h-16v80h-56c-4.425781 0-8 3.585938-8 8v8h-112v16h112v32h-208v-368h56v8c0 4.414062 3.574219 8 8 8h144c4.425781 0 8-3.585938 8-8v-8h56v96h16v-104c0-4.414062-3.574219-8-8-8h-64v-32h88v112h16v-120c0-4.414062-3.574219-8-8-8h-352c-4.425781 0-8 3.585938-8 8v480c0 4.414062 3.574219 8 8 8h352c4.425781 0 8-3.585938 8-8v-232h-16zm-43.3125-96-36.6875 36.6875v-36.6875zm-60.6875-320h-128v-48h128zm0 0" class="active-path" fill="%23343a40"/><path d="m256.5 200v-96c0-4.414062-3.574219-8-8-8h-128c-4.425781 0-8 3.585938-8 8v96c0 4.414062 3.574219 8 8 8h128c4.425781 0 8-3.585938 8-8zm-80-88h16v32h-16zm64 80h-112v-80h32v40c0 4.414062 3.574219 8 8 8h32c4.425781 0 8-3.585938 8-8v-40h32zm0 0" class="active-path" fill="%23343a40"/><path d="m128.5 248c0-4.414062-3.574219-8-8-8h-32c-4.425781 0-8 3.585938-8 8v32c0 4.414062 3.574219 8 8 8h32c4.425781 0 8-3.585938 8-8zm-16 24h-16v-16h16zm0 0" class="active-path" fill="%23343a40"/><path d="m128.5 312c0-4.414062-3.574219-8-8-8h-32c-4.425781 0-8 3.585938-8 8v32c0 4.414062 3.574219 8 8 8h32c4.425781 0 8-3.585938 8-8zm-16 24h-16v-16h16zm0 0" class="active-path" fill="%23343a40"/><path d="m120.5 368h-32c-4.425781 0-8 3.585938-8 8v32c0 4.414062 3.574219 8 8 8h32c4.425781 0 8-3.585938 8-8v-32c0-4.414062-3.574219-8-8-8zm-8 32h-16v-16h16zm0 0" class="active-path" fill="%23343a40"/><path d="m144.5 256h80v16h-80zm0 0" class="active-path" fill="%23343a40"/><path d="m144.5 320h40v16h-40zm0 0" class="active-path" fill="%23343a40"/><path d="m482.84375 122.34375-14.34375 14.34375-8.6875-8.6875 18.34375-18.34375c3.128906-3.128906 3.128906-8.183594 0-11.3125l-24-24c-3.128906-3.128906-8.183594-3.128906-11.3125 0l-224 224c-.609375.609375-1.121094 1.3125-1.503906 2.082031l-24 48c-1.535156 3.078125-.9375 6.796875 1.503906 9.230469 1.535156 1.535156 3.585938 2.34375 5.65625 2.34375 1.214844 0 2.441406-.28125 3.574219-.839844l48-24c.769531-.382812 1.472656-.886718 2.082031-1.503906l194.34375-194.34375 8.6875 8.6875-30.34375 30.34375 11.3125 11.3125 56-56zm-34.34375-31.03125 12.6875 12.6875-36.6875 36.6875-12.6875-12.6875zm-204.742188 230.113281-25.371093 12.6875 12.6875-25.378906 169.425781-169.421875 12.6875 12.6875zm0 0" class="active-path" fill="%23343a40"/></g></svg>') no-repeat;
    background-size: cover;
  } 

  .icon-pin {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px"><g><g><g><path d="M256,0C161.896,0,85.333,76.563,85.333,170.667c0,28.25,7.063,56.26,20.49,81.104L246.667,506.5    c1.875,3.396,5.448,5.5,9.333,5.5s7.458-2.104,9.333-5.5l140.896-254.813c13.375-24.76,20.438-52.771,20.438-81.021    C426.667,76.563,350.104,0,256,0z M256,256c-47.052,0-85.333-38.281-85.333-85.333c0-47.052,38.281-85.333,85.333-85.333    s85.333,38.281,85.333,85.333C341.333,217.719,303.052,256,256,256z" class="active-path" fill="%23343a40"/></g></g></g></svg>');
    background-size: cover;
  }

  .icon-creditCard {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px"><g><g><g><g><path d="M498.409,175.706L336.283,13.582c-8.752-8.751-20.423-13.571-32.865-13.571c-12.441,0-24.113,4.818-32.865,13.569     L13.571,270.563C4.82,279.315,0,290.985,0,303.427c0,12.442,4.82,24.114,13.571,32.864l19.992,19.992     c0.002,0.001,0.003,0.003,0.005,0.005c0.002,0.002,0.004,0.004,0.006,0.006l134.36,134.36H149.33     c-5.89,0-10.666,4.775-10.666,10.666c0,5.89,4.776,10.666,10.666,10.666h59.189c0.014,0,0.027,0.001,0.041,0.001     s0.027-0.001,0.041-0.001l154.053,0.002c5.89,0,10.666-4.776,10.666-10.666c0-5.891-4.776-10.666-10.666-10.666l-113.464-0.002     L498.41,241.434C516.53,223.312,516.53,193.826,498.409,175.706z M483.325,226.35L226.341,483.334     c-4.713,4.712-11.013,7.31-17.742,7.32h-0.081c-6.727-0.011-13.025-2.608-17.736-7.32L56.195,348.746L302.99,101.949     c4.165-4.165,4.165-10.919,0-15.084c-4.166-4.165-10.918-4.165-15.085,0.001L41.11,333.663l-12.456-12.456     c-4.721-4.721-7.321-11.035-7.321-17.779c0-6.744,2.6-13.059,7.322-17.781L285.637,28.665c4.722-4.721,11.037-7.321,17.781-7.321     c6.744,0,13.059,2.6,17.781,7.322l57.703,57.702l-246.798,246.8c-4.165,4.164-4.165,10.918,0,15.085     c2.083,2.082,4.813,3.123,7.542,3.123c2.729,0,5.459-1.042,7.542-3.124l246.798-246.799l89.339,89.336     C493.128,200.593,493.127,216.546,483.325,226.35z" class="active-path" fill="%23343a40"/><path d="M262.801,308.064c-4.165-4.165-10.917-4.164-15.085,0l-83.934,83.933c-4.165,4.165-4.165,10.918,0,15.085     c2.083,2.083,4.813,3.124,7.542,3.124c2.729,0,5.459-1.042,7.542-3.124l83.934-83.933     C266.966,318.982,266.966,312.229,262.801,308.064z" class="active-path" fill="%23FFFFFF"/><path d="M228.375,387.741l-34.425,34.425c-4.165,4.165-4.165,10.919,0,15.085c2.083,2.082,4.813,3.124,7.542,3.124     c2.731,0,5.459-1.042,7.542-3.124l34.425-34.425c4.165-4.165,4.165-10.919,0-15.085     C239.294,383.575,232.543,383.575,228.375,387.741z" class="active-path" fill="%23FFFFFF"/><path d="M260.054,356.065l-4.525,4.524c-4.166,4.165-4.166,10.918-0.001,15.085c2.082,2.083,4.813,3.125,7.542,3.125     c2.729,0,5.459-1.042,7.541-3.125l4.525-4.524c4.166-4.165,4.166-10.918,0.001-15.084     C270.974,351.901,264.219,351.9,260.054,356.065z" class="active-path" fill="%23FFFFFF"/><path d="M407.073,163.793c-2-2-4.713-3.124-7.542-3.124c-2.829,0-5.541,1.124-7.542,3.124l-45.255,45.254     c-2,2.001-3.124,4.713-3.124,7.542s1.124,5.542,3.124,7.542l30.17,30.167c2.083,2.083,4.813,3.124,7.542,3.124     c2.731,0,5.459-1.042,7.542-3.124l45.253-45.252c4.165-4.165,4.165-10.919,0-15.084L407.073,163.793z M384.445,231.673     l-15.085-15.084l30.17-30.169l15.084,15.085L384.445,231.673z" class="active-path" fill="%23FFFFFF"/><path d="M320.339,80.186c2.731,0,5.461-1.042,7.543-3.126l4.525-4.527c4.164-4.166,4.163-10.92-0.003-15.084     c-4.165-4.164-10.92-4.163-15.084,0.003l-4.525,4.527c-4.164,4.166-4.163,10.92,0.003,15.084     C314.881,79.146,317.609,80.186,320.339,80.186z" class="active-path" fill="%23FFFFFF"/><path d="M107.215,358.057l-4.525,4.525c-4.165,4.164-4.165,10.918,0,15.085c2.083,2.082,4.813,3.123,7.542,3.123     s5.459-1.041,7.542-3.123l4.525-4.525c4.165-4.166,4.165-10.92,0-15.085C118.133,353.891,111.381,353.891,107.215,358.057z" class="active-path" fill="%23FFFFFF"/></g></g></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-credit-card {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" id="Layer_5" enable-background="new 0 0 64 64" height="512px" viewBox="0 0 64 64" width="512px"><g><g><path d="m51 13h-13v-12h-22v27.026c-.838-.635-1.87-1.026-3-1.026-1.654 0-3 1.346-3 3v18.041c0 2.146.77 4.226 2.167 5.856l3.833 4.473v4.63h22v-4.734l2.814-4.925c.776-1.359 1.186-2.903 1.186-4.466v-1.875h9c1.654 0 3-1.346 3-3v-28c0-1.654-1.346-3-3-3zm-23 8c.552 0 1 .448 1 1h1v1.78c-.532-.48-1.229-.78-2-.78h-2c-.552 0-1-.448-1-1v-1zm2-5v3.78c-.532-.48-1.229-.78-2-.78v-2h-2v2h-3v3c0 1.654 1.346 3 3 3h2c.552 0 1 .448 1 1v1h-3c-.552 0-1-.448-1-1h-2c0 1.654 1.346 3 3 3v2h2v-2h2v3.478c-.96.34-1.964.522-3 .522-4.963 0-9-4.037-9-9s4.037-9 9-9c1.055 0 2.075.183 3.047.534-.024.153-.047.306-.047.466zm2 28v-28c0-.552.448-1 1-1h11v30h-9-2c-.552 0-1-.448-1-1zm14-29h2v30h-2zm-28-12h18v10h-3c-.766 0-1.458.297-1.989.771-1.275-.502-2.618-.771-4.011-.771-3.72 0-7.008 1.861-9 4.695zm9 32c1.028 0 2.03-.151 3-.427v9.427c0 .352.072.686.184 1h-9.184v-1.343c0-1.336-.521-2.592-1.465-3.536l-1.535-1.535v-.586-6-1.695c1.992 2.834 5.28 4.695 9 4.695zm13 13.875c0 1.216-.319 2.418-.922 3.474l-3.078 5.385v3.266h-18v-3.37l-4.314-5.033c-1.087-1.269-1.686-2.887-1.686-4.556v-18.041c0-.552.448-1 1-1 1.654 0 3 1.346 3 3v6 1.414l2.121 2.121c.567.567.879 1.32.879 2.122v3.343h14 2 5zm12-4.875c0 .552-.448 1-1 1h-1v-30h1c.552 0 1 .448 1 1z" class="active-path" fill="%23ffffff"/><path d="m34 41h2v2h-2z" class="active-path" fill="%23ffffff"/><path d="m34 33h2v2h-2z" class="active-path" fill="%23343a40"/><path d="m34 37h2v2h-2z" class="active-path" fill="%23ffffff"/><path d="m38 33h2v10h-2z" class="active-path" fill="%23ffffff"/><path d="m22 7h2v-2h-4v4h2z" class="active-path" fill="%23ffffff"/><path d="m32 9h2v-4h-4v2h2z" class="active-path" fill="%23ffffff"/></g></g> </svg>') no-repeat;
    background-size: cover;
  }

  .icon-wallet {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 469.341 469.341" style="enable-background:new 0 0 469.341 469.341;" xml:space="preserve" width="512px" height="512px" class=""><g><g><g><g><path d="M437.337,384.007H362.67c-47.052,0-85.333-38.281-85.333-85.333c0-47.052,38.281-85.333,85.333-85.333h74.667     c5.896,0,10.667-4.771,10.667-10.667v-32c0-22.368-17.35-40.559-39.271-42.323l-61.26-107     c-5.677-9.896-14.844-16.969-25.813-19.906c-10.917-2.917-22.333-1.385-32.104,4.302L79.553,128.007H42.67     c-23.531,0-42.667,19.135-42.667,42.667v256c0,23.531,19.135,42.667,42.667,42.667h362.667c23.531,0,42.667-19.135,42.667-42.667     v-32C448.004,388.778,443.233,384.007,437.337,384.007z M360.702,87.411l23.242,40.596h-92.971L360.702,87.411z M121.953,128.007     L300.295,24.184c4.823-2.823,10.458-3.573,15.844-2.135c5.448,1.458,9.99,4.979,12.813,9.906l0.022,0.039l-164.91,96.013H121.953     z" class="active-path" fill="%23343a40"/><path d="M437.337,234.674H362.67c-35.292,0-64,28.708-64,64c0,35.292,28.708,64,64,64h74.667c17.646,0,32-14.354,32-32v-64     C469.337,249.028,454.983,234.674,437.337,234.674z M362.67,320.007c-11.76,0-21.333-9.573-21.333-21.333     c0-11.76,9.573-21.333,21.333-21.333c11.76,0,21.333,9.573,21.333,21.333C384.004,310.434,374.431,320.007,362.67,320.007z" class="active-path" fill="%23ffffff"/></g></g></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-password {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.002 512.002" style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve" width="512px" height="512px"><g><g><g><g><circle cx="338" cy="346.001" r="20" class="active-path" fill="%23343a40"/><path d="M238,472.001H80c-22.056,0-40-17.944-40-40v-164c0-22.056,17.944-40,40-40h288c22.056,0,40,17.944,40,40v40     c0,11.046,8.954,20,20,20c11.046,0,20-8.954,20-20v-40c0-44.112-35.888-80-80-80h-24.037v-70.534     c0-64.771-53.832-117.466-120-117.466s-120,52.695-120,117.466v70.534H80c-44.112,0-80,35.888-80,80v164     c0,44.112,35.888,80,80,80h158c11.046,0,20-8.954,20-20S249.046,472.001,238,472.001z M143.963,117.467     c0-42.715,35.888-77.466,80-77.466s80,34.751,80,77.466v70.534h-160V117.467z" class="active-path" fill="%23343a40"/><path d="M503.643,325.739c-8.982-6.431-21.477-4.362-27.904,4.62l-98.581,137.7c-2.692,3.122-6.066,3.796-7.874,3.916     c-1.854,0.123-5.424-0.112-8.567-3.061l-63.708-62.171c-7.906-7.716-20.568-7.559-28.282,0.345     c-7.715,7.905-7.561,20.567,0.345,28.282l63.82,62.281c0.06,0.058,0.119,0.116,0.18,0.173C342.639,506.933,355.41,512,368.55,512     c1.129,0,2.261-0.037,3.393-0.113c14.314-0.954,27.679-7.915,36.666-19.097c0.232-0.29,0.456-0.585,0.673-0.887l98.981-138.26     C514.692,344.662,512.624,332.168,503.643,325.739z" class="active-path" fill="%23343a40"/><circle cx="262" cy="346.001" r="20" class="active-path" fill="%23343a40"/><circle cx="112" cy="346.001" r="20" class="active-path" fill="%23343a40"/><circle cx="187" cy="346.001" r="20" class="active-path" fill="%23343a40"/></g></g></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-userInfo {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="512px" viewBox="0 0 48 56" width="512px"><g><path id="Shape" d="m36.1 28.27c-.1136867-1.5592191.0281827-3.1265378.42-4.64.4556839.7498405.834281 1.5438893 1.13 2.37-.2859124.8908151-.8243875 1.6794206-1.55 2.27zm-24.32-21.46c2.2038858-2.67357627 5.6213584-4.03528444 9.06-3.61.2859428.04597251.5777725-.03428065.8-.22 5.57-4.6 12.9-.56 16.49 5.68 2.73 4.74 1.7 11.39.78 15.14-2.4225615-4.4459292-6.0519662-8.1169316-10.47-10.59-2.84-1.41-4.26 0-3.87 2.49-6.32-1.8-6.57-4.56-6.57-4.56 0-.5522847-.4477153-1-1-1-2 0-5.42 1.07-6 8.27-.0009698.0166526-.0009698.0333474 0 .05s.0009698.0333474 0 .05v.56h-.29c-.56-2.2-1.92-8.55 1.07-12.26zm-1.64 18.19s0-.08 0-.13c-.36-1.81-.25-3.67.05-3.87.3444577-.0133342.6871676.0552077 1 .2.32 3.59.89 3.74.74 7.09-1.0003927-.8233282-1.6421313-2.0028365-1.79-3.29zm3.71 4.94c0-2.26.33-2.78-.26-5.89-.3726408-1.8202891-.5702082-3.6720652-.59-5.53.21-2.64 1-5.72 3.22-6.29.57 1.55 2.57 4.29 9.55 5.84.3632757.0831242.7426364-.0426514.9842968-.3263397.2416605-.2836884.3055246-.6782203.1657032-1.0236603-.2817899-.6534846-.424809-1.3583649-.42-2.07.36902.0549853.7248734.1769922 1.05.36 2.8081054 1.5760538 5.27842 3.6895829 7.27 6.22-.0876427.9299272-.2245013 1.8545569-.41 2.77-.6 3.15-.26 3.52-.26 5.92.1197899 1.9970332-.7424784 3.9268719-2.31 5.17-1.1065568 1.0652254-2.0924943 2.249021-2.94 3.53-1.15 1.69-1.68 2.38-3.2 2.38-4.75 0-4.7.41-6.6-2.38-.8438934-1.2836615-1.8301516-2.4678422-2.94-3.53-1.5675216-1.2431281-2.4297899-3.1729668-2.31-5.17zm-13.67 23.06c3.9-2.11 5.49-3.24 7.89-3.67.41176704-.0763411.81648906-.1867198 1.21-.33.43979462 2.6704564 1.5939024 5.1721751 3.34 7.24-4.28209014-.4696952-8.4728283-1.5611736-12.44-3.24zm16.7 3.7c-4.1-1.35-5.36-6.25-5.72-8.53 1.3774115-.8265907 2.6644359-1.7952107 3.84-2.89v1.72c0 .5522847.4477153 1 1 1s1-.4477153 1-1v-7.89c3 4.32 3.14 3.89 8.7 3.89 2.88 0 3.86-1.84 5.3-3.89v7.89c0 .5522847.4477153 1 1 1s1-.4477153 1-1v-1.72c1.175862 1.1002561 2.4627582 2.0754821 3.84 2.91-.36 2.28-1.62 7.18-5.71 8.53-4.742795.3699933-9.507205.3699933-14.25 0zm18.5-.46c1.7460976-2.0678249 2.9002054-4.5695436 3.34-7.24 1.73.59 2.53.28 6 2.28 1 .59 2.09 1.15 3.14 1.72-3.9787648 1.6894483-8.1832828 2.7877438-12.48 3.26z" transform="translate(0 -1)" class="active-path" fill="%23444242"/></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-mobile {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px"><g><g><g><path d="M298.667,25.6h-85.333c-4.71,0-8.533,3.823-8.533,8.533c0,4.71,3.823,8.533,8.533,8.533h85.333    c4.71,0,8.533-3.823,8.533-8.533C307.2,29.423,303.377,25.6,298.667,25.6z" class="active-path" fill="%23444242"/></g></g><g><g><path d="M358.4,25.6h-8.533c-4.71,0-8.533,3.823-8.533,8.533c0,4.71,3.823,8.533,8.533,8.533h8.533    c4.71,0,8.533-3.823,8.533-8.533C366.933,29.423,363.11,25.6,358.4,25.6z" class="active-path" fill="%23444242"/></g></g><g><g><path d="M266.598,435.2H245.41c-12.979,0-23.543,10.564-23.543,23.543v4.122c0,12.979,10.564,23.535,23.535,23.535h21.188    c12.979,0,23.543-10.556,23.543-23.535v-4.122C290.133,445.764,279.569,435.2,266.598,435.2z M273.067,462.865    c0,3.567-2.901,6.468-6.468,6.468H245.41c-3.575,0-6.477-2.901-6.477-6.468v-4.122c0-3.575,2.901-6.477,6.477-6.477h21.18    c3.576,0,6.477,2.901,6.477,6.477V462.865z" class="active-path" fill="%23444242"/></g></g><g><g><path d="M370.227,0H141.781c-17.007,0-30.848,13.841-30.848,30.848v450.304c0,17.007,13.841,30.848,30.848,30.848h228.437    c17.007,0,30.848-13.841,30.848-30.839V30.848C401.067,13.841,387.226,0,370.227,0z M384,481.152    c0,7.595-6.178,13.781-13.773,13.781H141.781c-7.603,0-13.781-6.187-13.781-13.773V30.848c0-7.595,6.178-13.781,13.781-13.781    h228.437c7.603,0,13.781,6.187,13.781,13.781V481.152z" class="active-path" fill="%23444242"/></g></g><g><g><path d="M392.533,51.2H119.467c-4.71,0-8.533,3.823-8.533,8.533v358.4c0,4.71,3.823,8.533,8.533,8.533h273.067    c4.71,0,8.533-3.823,8.533-8.533v-358.4C401.067,55.023,397.244,51.2,392.533,51.2z M384,409.6H128V68.267h256V409.6z" class="active-path" fill="%23444242"/></g></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-email {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px" class=""><g><g><g><path d="M467,61H45C20.218,61,0,81.196,0,106v300c0,24.72,20.128,45,45,45h422c24.72,0,45-20.128,45-45V106    C512,81.28,491.872,61,467,61z M460.786,91L256.954,294.833L51.359,91H460.786z M30,399.788V112.069l144.479,143.24L30,399.788z     M51.213,421l144.57-144.57l50.657,50.222c5.864,5.814,15.327,5.795,21.167-0.046L317,277.213L460.787,421H51.213z M482,399.787    L338.213,256L482,112.212V399.787z" class="active-path" fill="%23484646"/></g></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-heart {
    background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><path d="M375.467,22.164c-60.061,0-99.769,32.796-119.467,54.493c-19.697-21.697-59.406-54.493-119.467-54.493C56.197,22.164,0,96.392,0,183.743c0,63.878,32.211,188.323,247.931,304.064c5.04,2.705,11.101,2.703,16.138,0C479.79,372.066,512,247.622,512,183.743C512,98.373,457.419,22.164,375.467,22.164z"/></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-heart-red {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="512px" viewBox="0 -20 464 464" width="512px" class=""><g><path d="m340 0c-44.773438.00390625-86.066406 24.164062-108 63.199219-21.933594-39.035157-63.226562-63.19531275-108-63.199219-68.480469 0-124 63.519531-124 132 0 172 232 292 232 292s232-120 232-292c0-68.480469-55.519531-132-124-132zm0 0" fill="%23ff6243" class="active-path" style="fill:%23BC1010"/><path d="m32 132c0-63.359375 47.550781-122.359375 108.894531-130.847656-5.597656-.769532-11.242187-1.15625025-16.894531-1.152344-68.480469 0-124 63.519531-124 132 0 172 232 292 232 292s6-3.113281 16-8.992188c-52.414062-30.824218-216-138.558593-216-283.007812zm0 0" fill="%23ff5023" class="" style="fill:%23BA0404" /></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-heart-white {
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 -28 512.001 512" xmlns="http://www.w3.org/2000/svg"><path d="m256 455.515625c-7.289062 0-14.316406-2.640625-19.792969-7.4375-20.683593-18.085937-40.625-35.082031-58.21875-50.074219l-.089843-.078125c-51.582032-43.957031-96.125-81.917969-127.117188-119.3125-34.644531-41.804687-50.78125-81.441406-50.78125-124.742187 0-42.070313 14.425781-80.882813 40.617188-109.292969 26.503906-28.746094 62.871093-44.578125 102.414062-44.578125 29.554688 0 56.621094 9.34375 80.445312 27.769531 12.023438 9.300781 22.921876 20.683594 32.523438 33.960938 9.605469-13.277344 20.5-24.660157 32.527344-33.960938 23.824218-18.425781 50.890625-27.769531 80.445312-27.769531 39.539063 0 75.910156 15.832031 102.414063 44.578125 26.191406 28.410156 40.613281 67.222656 40.613281 109.292969 0 43.300781-16.132812 82.9375-50.777344 124.738281-30.992187 37.398437-75.53125 75.355469-127.105468 119.308594-17.625 15.015625-37.597657 32.039062-58.328126 50.167969-5.472656 4.789062-12.503906 7.429687-19.789062 7.429687zm-112.96875-425.523437c-31.066406 0-59.605469 12.398437-80.367188 34.914062-21.070312 22.855469-32.675781 54.449219-32.675781 88.964844 0 36.417968 13.535157 68.988281 43.882813 105.605468 29.332031 35.394532 72.960937 72.574219 123.476562 115.625l.09375.078126c17.660156 15.050781 37.679688 32.113281 58.515625 50.332031 20.960938-18.253907 41.011719-35.34375 58.707031-50.417969 50.511719-43.050781 94.136719-80.222656 123.46875-115.617188 30.34375-36.617187 43.878907-69.1875 43.878907-105.605468 0-34.515625-11.605469-66.109375-32.675781-88.964844-20.757813-22.515625-49.300782-34.914062-80.363282-34.914062-22.757812 0-43.652344 7.234374-62.101562 21.5-16.441406 12.71875-27.894532 28.796874-34.609375 40.046874-3.453125 5.785157-9.53125 9.238282-16.261719 9.238282s-12.808594-3.453125-16.261719-9.238282c-6.710937-11.25-18.164062-27.328124-34.609375-40.046874-18.449218-14.265626-39.34375-21.5-62.097656-21.5zm0 0"/></svg>') no-repeat;
    background-size: cover;
  }

  .icon-positive {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 93.562 93.562" style="enable-background:new 0 0 93.562 93.562;" xml:space="preserve" class=""><g><g><path d="M87.952,41.17l-36.386,0.11V5.61c0-3.108-2.502-5.61-5.61-5.61c-3.107,0-5.61,2.502-5.61,5.61l0.11,35.561H5.61   c-3.108,0-5.61,2.502-5.61,5.61c0,3.107,2.502,5.609,5.61,5.609h34.791v35.562c0,3.106,2.502,5.61,5.61,5.61   c3.108,0,5.61-2.504,5.61-5.61V52.391h36.331c3.108,0,5.61-2.504,5.61-5.61C93.562,43.672,91.032,41.17,87.952,41.17z" class="active-path" fill="%23AAA3A3"/></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-happy {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px"><g><g><g><path d="M437.019,74.981C388.668,26.629,324.38,0,256,0S123.332,26.629,74.981,74.981C26.628,123.332,0,187.62,0,256    s26.628,132.668,74.981,181.019C123.332,485.371,187.62,512,256,512s132.668-26.629,181.019-74.981    C485.372,388.668,512,324.38,512,256S485.372,123.332,437.019,74.981z M256,481.524c-124.354,0-225.524-101.17-225.524-225.524    S131.646,30.476,256,30.476S481.524,131.646,481.524,256S380.354,481.524,256,481.524z" class="active-path" fill="%2304458F"/></g></g><g><g><path d="M200.622,188.396c-24.953-24.955-65.556-24.953-90.509,0c-5.951,5.95-5.951,15.599,0,21.55    c5.952,5.95,15.601,5.95,21.551,0c13.072-13.071,34.34-13.07,47.41,0c2.976,2.976,6.875,4.464,10.774,4.464    s7.8-1.488,10.774-4.464C206.573,203.995,206.573,194.347,200.622,188.396z" class="active-path" fill="%2304458F"/></g></g><g><g><path d="M401.884,188.396c-24.953-24.953-65.556-24.955-90.509,0c-5.951,5.95-5.951,15.599,0,21.55    c5.952,5.95,15.601,5.95,21.551,0c13.07-13.071,34.338-13.072,47.41,0c2.976,2.976,6.875,4.464,10.774,4.464    s7.8-1.488,10.774-4.464C407.835,203.995,407.835,194.347,401.884,188.396z" class="active-path" fill="%2304458F"/></g></g><g><g><path d="M391.111,267.175H120.889c-8.416,0-15.238,6.823-15.238,15.238c0,82.902,67.447,150.349,150.349,150.349    s150.349-67.447,150.349-150.349C406.349,273.997,399.527,267.175,391.111,267.175z M256,402.286    c-60.938,0-111.402-45.703-118.909-104.635H374.91C367.402,356.583,316.938,402.286,256,402.286z" class="active-path" fill="%2304458F"/></g></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-sad {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 567.419 567.419" style="enable-background:new 0 0 567.419 567.419;" xml:space="preserve" width="512px" height="512px"><g><g><g><g id="group-3svg"><path id="path-1_21_" d="M409.93,209.297c0,18.056-14.627,32.692-32.683,32.692c-18.047,0-32.683-14.636-32.683-32.692     s14.636-32.683,32.683-32.683C395.303,176.614,409.93,191.241,409.93,209.297z" class="active-path" fill="%23C12020"/><path id="path-2_21_" d="M222.011,209.297c0,18.056-14.636,32.692-32.683,32.692s-32.683-14.636-32.683-32.692     s14.636-32.683,32.683-32.683S222.011,191.241,222.011,209.297z" class="active-path" fill="%23C12020"/><path id="path-3_21_" d="M172.538,453.621c-7.434,0-13.468-6.025-13.468-13.468c0-58.138,46.762-105.439,104.245-105.439h45.397     c57.483,0,104.245,47.04,104.245,104.855c0,7.443-6.025,13.477-13.468,13.477c-7.435,0-13.459-6.034-13.459-13.477     c0-42.955-34.685-77.91-77.317-77.91h-45.397c-42.632,0-77.308,35.206-77.308,78.493     C186.006,447.596,179.972,453.621,172.538,453.621z" class="active-path" fill="%23C12020"/><path id="path-4_21_" d="M283.714,567.419c-156.403,0-283.642-127.275-283.642-283.714C0.072,127.275,127.311,0,283.714,0     c156.394,0,283.633,127.275,283.633,283.705C567.347,440.143,440.108,567.419,283.714,567.419z M283.714,26.946     c-141.552,0-256.705,115.181-256.705,256.759c0,141.588,115.154,256.768,256.705,256.768     c141.543,0,256.696-115.181,256.696-256.768C540.41,142.126,425.257,26.946,283.714,26.946z" class="active-path" fill="%23C12020"/></g></g></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-straight {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px" class=""><g><g><g><path d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M256,490.667    c-129.387,0-234.667-105.28-234.667-234.667S126.613,21.333,256,21.333S490.667,126.613,490.667,256S385.387,490.667,256,490.667z    " class="active-path" fill="%23FFE529"/></g></g><g><g><path d="M160,149.333c-17.643,0-32,14.357-32,32c0,17.643,14.357,32,32,32s32-14.357,32-32    C192,163.691,177.643,149.333,160,149.333z M160,192c-5.888,0-10.667-4.779-10.667-10.667s4.779-10.667,10.667-10.667    s10.667,4.779,10.667,10.667S165.888,192,160,192z" class="active-path" fill="%23FFE529"/></g></g><g><g><path d="M352,149.333c-17.643,0-32,14.357-32,32c0,17.643,14.357,32,32,32c17.643,0,32-14.357,32-32    C384,163.691,369.643,149.333,352,149.333z M352,192c-5.888,0-10.667-4.779-10.667-10.667s4.779-10.667,10.667-10.667    c5.888,0,10.667,4.779,10.667,10.667S357.888,192,352,192z" class="active-path" fill="%23FFE529"/></g></g><g><g><path d="M373.333,341.333H138.667c-5.888,0-10.667,4.779-10.667,10.667c0,5.888,4.779,10.667,10.667,10.667h234.667    c5.888,0,10.667-4.779,10.667-10.667C384,346.112,379.221,341.333,373.333,341.333z" class="active-path" fill="%23FFE529"/></g></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-cursor {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 477.883 477.883" style="enable-background:new 0 0 477.883 477.883;" xml:space="preserve" width="512px" height="512px"><g><g><g><path d="M468.456,1.808c-4.811-2.411-10.478-2.411-15.289,0l0,0L9.433,223.675c-8.429,4.219-11.842,14.471-7.624,22.9    c2.401,4.798,6.919,8.188,12.197,9.151l176.111,32.034l32.034,176.111c1.311,7.219,7.091,12.793,14.353,13.841    c0.803,0.116,1.613,0.173,2.423,0.171c6.469,0.003,12.383-3.651,15.275-9.438L476.07,24.711    C480.292,16.284,476.883,6.03,468.456,1.808z M246.557,407.38l-24.986-137.353c-1.292-6.936-6.718-12.362-13.653-13.653    L70.498,231.32L422.634,55.244L246.557,407.38z" class="active-path" fill="%23FFFFFF"/></g></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-notification {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px" class=""><g><g><g><path d="M467.819,431.851l-36.651-61.056c-16.896-28.181-25.835-60.437-25.835-93.312V224    c0-82.325-67.008-149.333-149.333-149.333S106.667,141.675,106.667,224v53.483c0,32.875-8.939,65.131-25.835,93.312    l-36.651,61.056c-1.984,3.285-2.027,7.403-0.149,10.731c1.899,3.349,5.461,5.419,9.301,5.419h405.333    c3.84,0,7.403-2.069,9.301-5.419C469.845,439.253,469.803,435.136,467.819,431.851z M72.171,426.667l26.944-44.907    C118.016,350.272,128,314.219,128,277.483V224c0-70.592,57.408-128,128-128s128,57.408,128,128v53.483    c0,36.736,9.984,72.789,28.864,104.277l26.965,44.907H72.171z" data-original="%23000000" class="active-path" fill="%23000000"/></g></g><g><g><path d="M256,0c-23.531,0-42.667,19.136-42.667,42.667v42.667C213.333,91.221,218.112,96,224,96s10.667-4.779,10.667-10.667    V42.667c0-11.776,9.557-21.333,21.333-21.333s21.333,9.557,21.333,21.333v42.667C277.333,91.221,282.112,96,288,96    s10.667-4.779,10.667-10.667V42.667C298.667,19.136,279.531,0,256,0z" data-original="%23000000" class="active-path" fill="%23000000"/></g></g><g><g><path d="M302.165,431.936c-3.008-5.077-9.515-6.741-14.613-3.819c-5.099,2.987-6.805,9.536-3.819,14.613    c2.773,4.715,4.288,10.368,4.288,15.936c0,17.643-14.357,32-32,32c-17.643,0-32-14.357-32-32c0-5.568,1.515-11.221,4.288-15.936    c2.965-5.099,1.259-11.627-3.819-14.613c-5.141-2.923-11.627-1.259-14.613,3.819c-4.715,8.064-7.211,17.301-7.211,26.731    C202.667,488.085,226.581,512,256,512s53.333-23.915,53.376-53.333C309.376,449.237,306.88,440,302.165,431.936z" data-original="%23000000" class="active-path" fill="%23000000"/></g></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-telegram {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 -31 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m123.195312 260.738281 63.679688 159.1875 82.902344-82.902343 142.140625 112.976562 100.082031-450-512 213.265625zm242.5-131.628906-156.714843 142.941406-19.519531 73.566407-36.058594-90.164063zm0 0" fill="%23ffffff" style="" class=""/></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-instagram {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="M256,152c-57.9,0-105,47.1-105,105s47.1,105,105,105s105-47.1,105-105S313.9,152,256,152z M256,152   c-57.9,0-105,47.1-105,105s47.1,105,105,105s105-47.1,105-105S313.9,152,256,152z M437,0H75C33.6,0,0,33.6,0,75v362   c0,41.4,33.6,75,75,75h362c41.4,0,75-33.6,75-75V75C512,33.6,478.4,0,437,0z M256,392c-74.399,0-135-60.601-135-135   c0-74.401,60.601-135,135-135s135,60.599,135,135C391,331.399,330.399,392,256,392z M421,122c-16.5,0-30-13.5-30-30s13.5-30,30-30   s30,13.5,30,30S437.5,122,421,122z M256,152c-57.9,0-105,47.1-105,105s47.1,105,105,105s105-47.1,105-105S313.9,152,256,152z    M256,152c-57.9,0-105,47.1-105,105s47.1,105,105,105s105-47.1,105-105S313.9,152,256,152z M256,152c-57.9,0-105,47.1-105,105   s47.1,105,105,105s105-47.1,105-105S313.9,152,256,152z" fill="%23ffffff" style="" class=""/></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-linkedin {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><g><rect y="160" width="114.496" height="352" fill="%23ffffff" style="" class=""/></g></g><g xmlns="http://www.w3.org/2000/svg"><g><path d="M426.368,164.128c-1.216-0.384-2.368-0.8-3.648-1.152c-1.536-0.352-3.072-0.64-4.64-0.896    c-6.08-1.216-12.736-2.08-20.544-2.08c-66.752,0-109.088,48.544-123.04,67.296V160H160v352h114.496V320    c0,0,86.528-120.512,123.04-32c0,79.008,0,224,0,224H512V274.464C512,221.28,475.552,176.96,426.368,164.128z" fill="%23ffffff" style="" class=""/></g></g><g xmlns="http://www.w3.org/2000/svg"><g><circle cx="56" cy="56" r="56" fill="%23ffffff" style="" class=""/></g></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-skin-care {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 64 64" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m47.259 49.527-9.416-1.412-.405-2.023c4.289-1.454 7.805-4.571 9.791-8.584 4.595-1.409 7.771-5.662 7.771-10.508 0-1.63-.362-3.198-1.029-4.631.662-1.361 1.029-2.85 1.029-4.369 0-4.843-3.462-8.891-8.041-9.805-.405-4.034-3.819-7.195-7.959-7.195h-14c-4.14 0-7.554 3.161-7.959 7.195-4.579.914-8.041 4.962-8.041 9.805 0 1.519.367 3.008 1.029 4.369-.667 1.433-1.029 3.001-1.029 4.631 0 2.307.708 4.5 2.039 6.368.051.538.211 1.054.47 1.528-.913.733-1.509 1.845-1.509 3.104 0 2.206 1.794 4 4 4 .727 0 1.4-.209 1.988-.55.607.355 1.298.55 2.012.55.587 0 1.14-.134 1.642-.362 1.931 2.049 4.299 3.585 6.917 4.469l-.402 2.008-9.416 1.412c-6.223.934-10.741 6.179-10.741 12.473v1h52v-1c0-6.294-4.518-11.539-10.741-12.473zm-7.636.878-5.095 5.944-1.218-1.44 4.093-4.837zm-28.623-32.405c0-4.411 3.589-8 8-8h5.95v-2h-5.86c.478-2.833 2.942-5 5.91-5h14c2.954 0 5.409 2.147 5.904 5h-5.854v2h5.95c4.411 0 8 3.589 8 8 0 .764-.117 1.519-.33 2.246-.3-.383-.616-.755-.97-1.101l-1.4 1.428c1.741 1.706 2.7 3.99 2.7 6.427 0 3.365-1.87 6.382-4.733 7.924.473-1.56.733-3.212.733-4.924v-6.083c0-2.711-2.206-4.917-4.917-4.917-7.874 0-15.501-1.652-22.669-4.91l-.479-.218-.45.271c-3.383 2.03-5.485 5.743-5.485 9.688l.001 5.169h-.001c-1.327 0-2.496.656-3.224 1.654-.508-1.14-.776-2.375-.776-3.654 0-2.438.959-4.721 2.7-6.427l-1.4-1.428c-.353.346-.67.718-.97 1.101-.213-.727-.33-1.482-.33-2.246zm1 20c0-1.103.897-2 2-2s2 .897 2 2-.897 2-2 2-2-.897-2-2zm5.485 1.924c.318-.573.515-1.223.515-1.924 0-2.206-1.794-4-4-4-.231 0-.455.03-.676.068-.207-.318-.324-.682-.324-1.068 0-1.103.897-2 2-2 .685 0 1.313.35 1.685.935l.51.807.829-.472c.315-.179.643-.27.976-.27 1.103 0 2 .897 2 2 0 .685-.35 1.313-.935 1.685l-.807.51.472.829c.179.315.27.643.27.976 0 1.103-.897 2-2 2-.176 0-.348-.031-.515-.076zm3.714.453c.497-.667.801-1.484.801-2.377 0-.398-.061-.79-.182-1.169.751-.742 1.182-1.752 1.182-2.831 0-2.206-1.794-4-4-4-.398 0-.79.061-1.169.182-.247-.25-.531-.449-.83-.624l-.001-5.727c0-3.076 1.552-5.979 4.083-7.698 7.285 3.23 15.021 4.867 23 4.867 1.608 0 2.917 1.309 2.917 2.917v6.083c0 8.271-6.729 15-15 15-4.099 0-7.977-1.685-10.801-4.623zm10.801 6.623c1.202 0 2.374-.129 3.506-.368l.418 2.091-3.924 4.638-3.925-4.638.419-2.095c1.143.24 2.316.372 3.506.372zm-5.403 3.072 9.247 10.928h-2.385l-9.082-10.595zm-9.559 1.434 5.006-.751 8.783 10.245h-14.827v-6h-2v6h-5.954c.444-4.843 4.089-8.759 8.992-9.494zm32.962 9.494v-6h-2v6h-9.536l-2.628-3.106 6.12-7.139 5.006.751c4.903.735 8.548 4.651 8.992 9.494z" fill="%23fa5bdd" style=""/><path d="m40 28c2.757 0 5-1.794 5-4h-2c0 1.084-1.374 2-3 2s-3-.916-3-2h-2c0 2.206 2.243 4 5 4z" fill="%23fa5bdd" style=""/><path d="m24 26c-1.626 0-3-.916-3-2h-2c0 2.206 2.243 4 5 4s5-1.794 5-4h-2c0 1.084-1.374 2-3 2z" fill="%23fa5bdd" style=""/><path d="m7 28c0-1.654-1.346-3-3-3s-3 1.346-3 3 1.346 3 3 3 3-1.346 3-3zm-4 0c0-.552.448-1 1-1s1 .448 1 1-.448 1-1 1-1-.448-1-1z" fill="%23fa5bdd" style=""/><path d="m8 39c0-1.654-1.346-3-3-3s-3 1.346-3 3 1.346 3 3 3 3-1.346 3-3zm-3 1c-.552 0-1-.448-1-1s.448-1 1-1 1 .448 1 1-.448 1-1 1z" fill="%23fa5bdd" style=""/><path d="m49 45c0 1.654 1.346 3 3 3s3-1.346 3-3-1.346-3-3-3-3 1.346-3 3zm3-1c.552 0 1 .448 1 1s-.448 1-1 1-1-.448-1-1 .448-1 1-1z" fill="%23fa5bdd" style=""/><path d="m60 26c1.654 0 3-1.346 3-3s-1.346-3-3-3-3 1.346-3 3 1.346 3 3 3zm0-4c.552 0 1 .448 1 1s-.448 1-1 1-1-.448-1-1 .448-1 1-1z" fill="%23fa5bdd" style=""/><path d="m59 32h-2c0 2.206-1.794 4-4 4v2c2.206 0 4 1.794 4 4h2c0-2.206 1.794-4 4-4v-2c-2.206 0-4-1.794-4-4zm-1 6.69c-.445-.67-1.02-1.245-1.69-1.69.67-.445 1.245-1.02 1.69-1.69.445.67 1.02 1.245 1.69 1.69-.67.445-1.245 1.02-1.69 1.69z" fill="%23fa5bdd" style=""/></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-makeup {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 512.131 512.131" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m326.293 497.131h-78.659c-9.705 0-17.602-7.896-17.602-17.602v-56.993h75.41c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-83.048c-3.866 0-7.063-3.023-7.274-6.853l-15.997-311.002c-.063-1.205-.414-2.378-1.026-3.418l-23.934-40.678h234.233l-20.857 35.448c-2.101 3.57-.909 8.167 2.66 10.267 3.572 2.101 8.167.91 10.268-2.661l27.508-46.751c.679-1.153 1.036-2.466 1.036-3.803v-25.17c0-7.122-5.794-12.915-12.916-12.915h-249.631c-7.122 0-12.916 5.793-12.916 12.915v25.169c0 1.337.357 2.65 1.036 3.803l29.653 50.398 15.904 309.198c.511 9.229 6.608 16.872 14.891 19.778v58.267c0 17.977 14.625 32.602 32.602 32.602h78.659c4.143 0 7.5-3.358 7.5-7.5s-3.358-7.499-7.5-7.499zm87.718-482.131v15.584h-245.463v-15.584z" fill="%23fa5bdd" style="" class=""/><path d="m450.541 112.551c-3.104-3.314-7.49-5.215-12.032-5.215h-113.225c-4.542 0-8.928 1.901-12.033 5.216s-4.717 7.816-4.421 12.35l14.029 214.598c.271 4.133 3.83 7.27 7.974 6.995 4.133-.27 7.265-3.84 6.995-7.973l-11.622-177.78h111.382l-16.184 247.548c-.548 8.387-7.562 14.957-15.967 14.957h-47.082c-8.405 0-15.419-6.57-15.967-14.957l-2.472-37.806c-.271-4.134-3.869-7.271-7.974-6.995-4.134.27-7.265 3.84-6.995 7.973l2.472 37.806c.779 11.919 8.302 21.937 18.681 26.433v53.533c0 12.625 10.271 22.896 22.896 22.896h25.8c12.625 0 22.896-10.271 22.896-22.896v-53.533c10.379-4.497 17.901-14.514 18.681-26.433l18.591-284.369c.295-4.533-1.317-9.034-4.423-12.348zm-47.849 376.683c0 4.354-3.542 7.896-7.896 7.896h-25.8c-4.354 0-7.896-3.542-7.896-7.896v-50.987h41.592zm-77.467-343.493-1.426-21.819c-.035-.533.197-.901.399-1.116.201-.215.553-.471 1.086-.471h113.225c.533 0 .885.256 1.087.471.201.215.435.583.399 1.116l-1.427 21.819z" fill="%23fa5bdd" style="" class=""/><path d="m168.548 343.494v-59.467c0-8.18-6.654-14.834-14.833-14.834h-.659v-12.632c0-4.142-3.357-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v12.632h-40.075v-49.524c16.985-7.649 30.652-21.008 38.747-37.51.877 6.304 1.327 12.69 1.327 19.143v23.297c0 4.142 3.357 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-23.297c0-21.842-4.555-43.013-13.537-62.927-2.438-5.403-7.398-9.119-13.271-9.938-5.873-.823-11.66 1.394-15.484 5.923l-10.907 12.915c-10.882 12.884-16.875 29.266-16.875 46.129v75.79h-.658c-8.18 0-14.834 6.654-14.834 14.834v59.467c-6.03 2.195-10.355 7.968-10.355 14.748v27.11c0 .006-.001.013-.001.019s.001.013.001.019v29.374c0 4.142 3.357 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-21.894h91.771v83.864c0 11.245-9.149 20.394-20.395 20.394h-50.983c-11.245 0-20.394-9.149-20.394-20.394v-30.008c0-4.142-3.357-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v30.008c0 19.516 15.878 35.394 35.394 35.394h50.982c19.517 0 35.395-15.878 35.395-35.394v-118.492c0-6.78-4.326-12.554-10.356-14.749zm-57.233-186.541 10.907-12.915c.67-.792 1.511-.809 1.951-.746.441.062 1.245.306 1.672 1.251 1.5 3.325 2.861 6.69 4.086 10.089l-1.957 7.962c-4.178 17.003-15.119 31.451-29.994 40.192v-9.384c.001-13.323 4.737-26.269 13.335-36.449zm-28.826 127.24h71.059v58.342h-71.059zm-10.355 93.679v-19.629c0-.39.316-.707.706-.707h2.149 86.059 2.149c.39 0 .707.317.707.707v19.629z" fill="%23fa5bdd" style="" class=""/></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-hair-style {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 584.835 584.835" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="M413.347,133.86c-6.857,20.537-38.144,37.493-38.144,37.493l4.875-23.795c0,0-50.876,48.77-84.146,35.153   c40.483-4.795,37.18-24.412,37.18-24.412s-92.949,38.18-92.949,43.082c0,4.902-14.688,55.788,13.697,101.735   c-58.698-4.875-55.779-106.638-55.779-106.638l-44.028,63.601c0,0,62.609,35.233,28.358,86.128   c89.039-19.59,30.34,56.733,61.645,61.608c90.021,24.483,48.931,102.719,48.931,102.719s38.144,37.197,11.732,66.573   c-26.394,29.322-21.019-34.251-21.019-34.251s-67.984-11.43-25.93-61.002c42.072-49.556-84.154,37.52-66.529-71.109   c-8.813-8.786-119.37,30.59-64.565-73.253c14.662-13.821-77.315-17.732-42.082-111.664c-13.697-36.189-23.474-40.618,20.554-84.137   c13.715-24.465-90.994-91.012,49.903-140.898c81.208-8.812,82.199,58.699,82.199,58.699l11.742,3.911   c0,0,107.62-100.771,186.873-0.964c129.164,31.305,57.055,204.498,45.18,221.105c6.697,16.644,7.679,37.572,7.679,37.572   l-44.037-5.25l22.108-118.405C466.779,197.461,412.366,183.764,413.347,133.86z" fill="%23fa5bdd" style="" class=""/></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g></g></svg>') no-repeat;
    background-size: cover;
  }

  .icon-nail {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="512" height="512" x="0" y="0" viewBox="0 0 480 480" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg" id="XMLID_1544_"><g><g><path d="M466.154,415.657l-60.268-47.017l-86.688-130.472l29.136-19.23c0,0,9.166-5.751,3.027-14.998     C343.46,192.039,235.527,29.602,235.527,29.602c-9.15-13.768-27.828-17.559-41.638-8.442l-23.446,15.475v-6.644     C170.443,13.454,156.959,0,140.384,0H80.207c-16.575,0-30.06,13.454-30.06,29.991v202.786C21.188,241.356,0,268.204,0,299.907     V449.82c0,16.541,13.458,29.998,30,29.998h160.59c16.542,0,30-13.457,30-29.998V299.906c0-31.703-21.188-58.551-50.147-67.13     v-83.942l81.092,122.049c0.001,0.001,1.386,1.665,1.386,1.665c5.939,5.843,12.432,1.16,12.434,1.158     c0.004-0.002,37.152-24.52,37.152-24.52l86.72,130.52l19.908,73.648c3.047,11.278,11.076,20.123,22.024,24.265     c4.212,1.594,8.561,2.381,12.875,2.381c6.93,0,13.771-2.032,19.805-6.014c9.789-6.461,15.669-16.876,16.132-28.576     C480.434,433.714,475.398,422.869,466.154,415.657z M70.147,29.991c0-5.511,4.513-9.993,10.06-9.993h60.177     c5.547,0,10.06,4.483,10.06,9.993v19.844l-6.728,4.44c-6.705,4.426-11.277,11.193-12.875,19.054     c-1.596,7.852-0.032,15.854,4.405,22.532l15.26,22.967c-0.042,0.37-0.063,0.747-0.063,1.128v109.955H70.147V29.991z      M200.59,299.907v149.914c0,5.513-4.486,9.999-10,9.999H30c-5.514,0-10-4.486-10-9.999V299.907c0-27.569,22.43-49.997,50-49.997     h80.59C178.161,249.91,200.59,272.338,200.59,299.907z M262.676,251.512L151.904,84.793c-1.474-2.219-1.994-4.876-1.465-7.481     c0.532-2.616,2.057-4.87,4.294-6.346l50.174-33.114c1.711-1.129,3.643-1.669,5.555-1.669c3.266,0,6.473,1.578,8.407,4.488     l110.737,166.667L262.676,251.512z M459.986,444.62c-0.205,5.186-2.816,9.806-7.165,12.676     c-4.369,2.883-9.687,3.471-14.585,1.619c-4.871-1.844-8.441-5.772-9.795-10.779l-12.514-46.296l37.925,29.586     C457.956,434.628,460.192,439.436,459.986,444.62z" fill="%23fa5bdd" style="" class=""/><path d="M130.383,279.895c0,5.522,4.478,9.999,10,9.999c11.077,0,20.089,8.967,20.089,19.989v120.093     c0,5.522,4.478,9.999,10,9.999c5.522,0,10-4.477,10-9.999V309.883c0-22.05-17.984-39.988-40.089-39.988     C134.861,269.895,130.383,274.372,130.383,279.895z" fill="%23fa5bdd" style="" class=""/></g></g></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g><g xmlns="http://www.w3.org/2000/svg"></g></g></svg>') no-repeat;
    background-size: cover;
  }
  