* ,body {
    direction: ltr;
    font-family: 'Vazir' !important;
    list-style: none !important;
    text-decoration: none !important;
}

.hero-wrap .hero-bg-slideshow .hero-bg {
    height: 600px;
}

section.featured {
    direction: ltr;
}

.open {
    display: block !important;
}

.close {
    display: none !important;
}

.tether-element {
    z-index: 1;
}

.size {
    width: 100% !important;
    height: 50px;
}

.citySearchAutoCompeletSelect>div {
    text-align: right;
    min-height: 50px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: rgba(255, 255, 255, 0) !important;
    border: 0 !important;
    color: #ccc;
}
.bg-breadCrumb {
    background-color: #0c2f55 !important;
  }

  .collapseShow{
    transition: all 0.5s ease-out;
  }

  /* .accordion .card-body{
      padding: 0 !important;
  }
  .accordion__button{
      text-align: right !important;
  }

  .accordion__button:after {
    display: inline-block !important;
    content: '' !important;
    height: 10px !important;
    width: 10px !important;
    margin-right: 12px !important;
    border-bottom: 2px solid currentColor !important;
    border-right: 2px solid currentColor !important;
    transform: rotate(135deg) !important;
    transition: all 0.5s;
  }

  .accordion__button::before {
    display: none !important;

  }*/

  .accordion__button[aria-expanded='true']::after, .accordion__button[aria-selected='true']::after {
    transform: rotate(45deg) !important;
    transition: all 0.5s;
}
/* .titleTab{
    width: 50px;
    height: auto;
    overflow: inherit;
} */
p.hotels-amenities-detail div i{
    margin-right: 8px  !important;
    margin-left: 0 !important;
}
.page-header .breadcrumb > li + li:before{
    display: none
}

.birthday-DatePicker{
    width: 100%;
    height: 39px;
    border: 1px solid #ccc;
}
.ReactModal__Content{
    overflow-y:  scroll !important;
    z-index: 1300;
   
  }


.logo{
    width: 207px;
    height:192px;;
}

  .qty-spinner{
      width: 36%;
  }
  /* .ReactModal__Login{
    overflow-y:  scroll !important;
    z-index: 1300;
    height: 800px;
  } */

  .flight-item .fligh-item {
    height: 61px !important;
    line-height: 17px !important;
  }

  @media (max-width: 991.98px) {
    .ReactModal__Content{
        max-height: calc(100vh - 80px);
        overflow-y: auto;
      }
  }

  