.text-1 {
    font-size: 10px !important;
}

.text-2 {
    font-size: 12px !important;
}

.text-3 {
    font-size: 14px !important;
}

.text-4 {
    font-size: 16px !important;
}

.text-5 {
    font-size: 18px !important;
}

.text-6 {
    font-size: 20px !important;
}

.text-7 {
    font-size: 22px !important;
}

.text-8 {
    font-size: 24px !important;
}

.text-9 {
    font-size: 26px !important;
}

.text-10 {
    font-size: 28px !important;
}